{% block body %}{% endblock body %}

{% if growls %}
<script>
    {% for growl in growls %}
    growl("{{ growl.message }}", { style: "{{ growl.type | default('error') }}", duration: 3000 });
    {% endfor %}
</script>
{% endif %}
