
{% for flashMessage in app.session.flashbag.get('success') %}
<aside class="alert alert-warning fade in">

	<button type="button" class="close" data-dismiss="alert">×</button>
	<h4>{{ flashMessage | raw }}</h4>

</aside>
{% endfor %}
