{% extends 'DLAdminBundle::layout.html.twig' %}

{% set heading='Dashboard' %}
{% set subheading='Your action center for common tasks' %}

{% block body %}

<div class="clearfix"></div>

<h3>Admin Action Log</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Log Event</th>
            <th scope="col">From</th>
            <th scope="col">When</th>
        </tr>
    </thead>

    <tbody>
    {% for entity in actionLogEntries %}
    <tr>
        <td><i class="icn i-user-silhouette-question"></i> <strong>{{ entity.user.username | capitalize }}</strong></td>
        <td>{{ entity.component }}</td>
        <td>{{ entity.data }}</td>
        <td><i class="icn i-clock"></i> {{ entity.createdAt | date('y-m-d h:i') }}</td>
    </tr>
    {% endfor %}
    </tbody>

    <tfoot>
    </tfoot>

</table>

<a href="{{ path('admin_action_log') }}" class="btn chevron right pull-right"><span>View All</span></a>


{% endblock %}
