

	/* ==========================================================================
	   Alert Variables
	   ========================================================================== */
			
			$growlHolderWidth:			300px;
			
			$alertBackground:			#fff;
			$alertColor: 				#555;
			
			$growlBackground:			#fefefe;
			$growlColor:				#333;
			
			$defaultAlertColor:			$secondaryColor;
			
			$yellowAlertColor: 			$yellowColor;
			$redAlertColor: 			$redColor;
			$blueAlertColor: 			$blueColor;
			$greenAlertColor: 			$greenColor;
			
			$purpleAlertColor: 			$purpleColor;
			$orangeAlertColor: 			$orangeColor;
			$pinkAlertColor: 			$pinkColor;
			$darkAlertColor: 			$darkColor;

	/* ==========================================================================
	   Alert Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Alert Styles
	   ========================================================================== */

		
		
		.alert {
			
				
				position:		relative;
				background:  	hsl( hue($defaultAlertColor) , saturation($defaultAlertColor), 95);
				box-shadow: 	0 0 10px fade($defaultAlertColor,30%), 0 1px 0 white inset;
				
				border: 		1px solid $defaultAlertColor;
				border-top-width: 3px;
				text-shadow: 	none;
					
				color: 			$alertColor;
				
					.close {
					
						display: block; width: 25px; height: 25px;
						position: absolute; right: 0; top: 0;
						opacity: 0.3;
						
						@include transition( all 1s );
						
						&:hover, &:focus { opacity: 1; } 
						
					}
					
					
					
					&.yellow { 		border-color: $yellowAlertColor; 	box-shadow: 0 0 10px fade($yellowAlertColor,30%); 	background: hsl( hue($yellowAlertColor) , saturation($yellowAlertColor), 95);  }
					&.red {			border-color: $redAlertColor; 		box-shadow: 0 0 10px fade($redAlertColor,30%); 		background: hsl( hue($redAlertColor) , saturation($redAlertColor), 95);  }
					&.blue {		border-color: $blueAlertColor; 		box-shadow: 0 0 10px fade($blueAlertColor,30%); 	background: hsl( hue($blueAlertColor) , saturation($blueAlertColor), 95);  }
					&.green {		border-color: $greenAlertColor; 	box-shadow: 0 0 10px fade($greenAlertColor,30%); 	background: hsl( hue($greenAlertColor) , saturation($greenAlertColor), 95);  }
					
					&.purple {		border-color: $purpleAlertColor; 	box-shadow: 0 0 10px fade($purpleAlertColor,30%); 	background: hsl( hue($purpleAlertColor) , saturation($purpleAlertColor), 95);  }
					&.orange {		border-color: $orangeAlertColor; 	box-shadow: 0 0 10px fade($orangeAlertColor,30%); 	background: hsl( hue($orangeAlertColor) , saturation($orangeAlertColor), 95);  }
					&.pink {		border-color: $pinkAlertColor; 		box-shadow: 0 0 10px fade($pinkAlertColor,30%); 	background: hsl( hue($pinkAlertColor) , saturation($pinkAlertColor), 95);  }
					&.dark {		border-color: $darkAlertColor; 		box-shadow: 0 0 10px fade($darkAlertColor,30%); 	background: hsl( hue($darkAlertColor) , saturation($darkAlertColor), 95);  }
					
					.icon { margin: 0 10px 10px 0; float: left; }
		
					
		}
		
		
		

		
		.alert.growl {
			
			
			box-shadow: 0 -40px 50px -35px rgba(0, 0, 0, 0.07) inset, 0 5px 24px -5px grey;
			
			margin: 0 auto 10px; opacity: 1; padding: 10px 25px 10px 15px; 
			
			border: 		1px solid $alertColor;
			border-left: 	3px solid $alertColor;
			
			color: 			$growlColor;
			background: 	$growlBackground;
			
			
				.close { 
					
					border: 1px solid rgba(0,0,0,0.2); 
					border-right: none;
					border-top: none;
					border-radius: 	0 5px;
					top: 0; right: 0; 
				
				}
				
				
				&.yellow { 		border-color: $yellowAlertColor; 	}
				&.red {			border-color: $redAlertColor; 		}
				&.blue {		border-color: $blueAlertColor; 	}
				&.green {		border-color: $greenAlertColor; 	}
				
				&.purple {		border-color: $purpleAlertColor; 	}
				&.orange {		border-color: $orangeAlertColor; 	}
				&.pink {		border-color: $pinkAlertColor; 	}
				&.dark {		border-color: $darkAlertColor;  	}

			
		}
		
		
		
		
		
		
		.growlHolder { 
			
			z-index: 900;
			position: fixed; top: 20px; left: 50%; margin: 0;
			width: $growlHolderWidth; margin-left: -$growlHolderWidth/2;
			font-size: 12px; line-height: 16px;
			
			&.top-right {  left: auto; right: 20px; margin: 0;  }
			&.bottom-right {  left: auto; right: 20px; margin: 0; bottom: 20px; top: auto; }
			
		}		
		
		
		
		
		
	/* ==========================================================================
	   Alerts Media Queries
	   ========================================================================== */



		@media (max-width: 480px) {

			.growlHolder,
			.growlHolder.top-right,
			.growlHolder.bottom-right  { width: auto; left: 10px; right: 10px; top: 10px;  }
			.growlHolder.bottom-right  { bottom: 10px; top: auto;  }

		}
				
		
		
		
