


	/* ==========================================================================
	   Dropdown Variables
	   ========================================================================== */
		
			$dropdownColor: 	$formInputActiveColor;
			$dropdowntRadius: 	$formControlRadius;

	/* ==========================================================================
	   Dropdown Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Dropdown Styles
	   ========================================================================== */
		
		
		














	.dropdown-menu { border-radius: $dropdowntRadius; }
	
	.dropdown-menu li > a:hover, 
	.dropdown-menu li > a:focus, 
	.dropdown-submenu:hover > a {
		
			@include gradient( $primaryColor , darken($primaryColor,3%) );
		
	}

	.dropdown-menu li.highlight { background: #DEF; }




















