

	/* ==========================================================================
	   Gallery Variables
	   ========================================================================== */
		
		$thumbnailWidth:		130px;
		$thumbnailHeight:		$thumbnailWidth * 0.75;
		
		$thumbnailMargin:		5px;
		$thumbnailPadding:		3px;
		$thumbnailBorder:		1px solid #ddd;
		$thumbnailColor:		white;
		
	/* ==========================================================================
	   Gallery Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Gallery Styles
	   ========================================================================== */
		
		
		.gallery-wrapper {
			
			.gallery-image-link,
			.placeholder { 
				
				position: relative;
				display: inline-block; *display: inline; *zoom:1;
				border-radius: 	0;
				
				padding: 		$thumbnailPadding;
				border: 		$thumbnailBorder;
				margin: 		0 $thumbnailMargin $thumbnailMargin*2 0;
				
				vertical-align: top; text-align: center; position: relative;
				@include transition( background-color 0.3s );
				
				background-color: $thumbnailColor;
				
				&:hover { border-color: $hintColor; background-color: $hintColor; }
				
				&:after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 4px;
					border-radius: 50%;
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
					z-index: -1;
				}
				
				
				
			}
			
			.placeholder {
				
				border: 1px dotted $greenColor;
				background-color: fade( $greenColor, 5% );
				&:after { content: ""; box-shadow: none; }
				
			}
			
			.ui-sortable-helper {
				
				-webkit-transition: -webkit-transform 0.2s;
				-moz-transition: -moz-transform 0.2s;
				-ms-transition: -ms-transform 0.2s;
				-o-transition: -o-transform 0.2s;
				transition: transform 0.2s;
				
				@include transform( scale(1.2,1.2) );
				
				> button { display: none; } 
				
				&:hover {
					
					border-color: 	$greenColor;
					background-color: 	$thumbnailColor;
					box-shadow: 	0 8px 30px -5px rgba(0,0,0,0.4);
					
					
				}
				
			}
			
			.gallery-image-link .gallery-image { max-height: $thumbnailHeight; max-width: $thumbnailWidth; cursor: -webkit-zoom-in; cursor: -moz-zoom-in; @include transition( all 0.3s ease ); }
			.gallery-image-link.open .gallery-image { max-width: 300px; max-height: 300px; }
			.gallery-image-link button { position: absolute; top: 9px; right: 7px;  padding: 1px 1px 2px; }
			
			
			
			
		}
