

	/* ==========================================================================
	   Heading Variables
	   ========================================================================== */

	/* ==========================================================================
	   Heading Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Heading Styles
	   ========================================================================== */

		h1,h2,h3,h4,h5 	{ small { display: block; } }
		h1,h2,h3 		{ small { color: darken( $primaryColor, 10% ); } }

		h4 { color: $primaryColor; }

		h5 { 

			font-family: $sans; 
			font-weight: 700; 
			margin-bottom: 0px;
							
			small { 
				color: darken( $primaryColor, 10% ); 
			} 
		}
		
		
		h1 { font-size: 2em; }
		h2 { font-size: 1.8em; }
		h3 { font-size: 1.6em; }
		h4 { font-size: 1.3em; }
		h5 { font-size: 1.3em; }



		h4 small { font-family: $sans; }

