

	/* ==========================================================================
	   Pagination Variables
	   ========================================================================== */

		$pgActiveColor:			$secondaryColor;

	/* ==========================================================================
	   Pagination Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Pagination Styles
	   ========================================================================== */



		.pagination ul > .active > a, 
		.pagination ul > .active > span {
			
			color: white; text-shadow: 0 -1px 1px black;
			@include gradient( $pgActiveColor, darken( $pgActiveColor, 10% ) );
			
		}
