

	/* ==========================================================================
	   Table Variables
	   ========================================================================== */
		
		$tableColor: 			$secondaryColor;
		
		$tableFontSize:			$fontSize - 1;
		
		$tableStripeColor:		#f3f3f3;
		$tableHoverColor:		fade( $hintColor, 20% );
		
		$tableSectionColor:		lighten($tableColor, 50%);
		$tablePageColor:		lighten($tableSectionColor, 5%);
		$tableContentColor:		lighten($tablePageColor, 7%);
		
		$tableFlaggedColor:		lighten($redColor,40%);

		$tableCellBorderColor:	#bbb;
		
		$tableHeadPadding:		8px;
		$tableBodyPadding:		4px 8px;
		
		$activeIcon:			"#{$imgPath}/#{$iconPath}/eye.png";
		$inactiveIcon:			"#{$imgPath}/#{$iconPath}/eye-close.png";
		$activeHoverIcon:		"#{$imgPath}/#{$iconPath}/eye-half.png";

		$flaggedIcon:			"#{$imgPath}/#{$iconPath}/flag.png";
		$unflaggedIcon:			"#{$imgPath}/#{$iconPath}/flag-white.png";

		$expandIcon:			"#{$imgPath}/#{$iconPath}/control.png";
		$collapseIcon:			"#{$imgPath}/#{$iconPath}/control-270.png";


	/* ==========================================================================
	   Table Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Table Styles
	   ========================================================================== */
		
		
	/* === Table Layouts ============================================================ */
		
		.table { font-size: $tableFontSize; }
		.table-bordered {  border: 1px solid $tableColor; }
		
		.table-bordered th, 
		.table-bordered td { border-color: $tableColor;  }
		.table-bordered th:first-child,
		.table-bordered td:first-child { border-left: none;  }
		
		
	/* === Table Header ============================================================ */

		.table thead { @include gradient( $tableColor, darken($tableColor,5%) ); color: white; }
		.table thead th,
		.table thead td {  padding: $tableHeadPadding; font-weight: normal; }
		
		.table thead th:first-child,
		.table thead td:first-child { border-radius: 4px 0 0 0; }
		.table thead th:last-child,
		.table thead td:last-child { border-radius: 0 4px 0 0;}
		
		
	/* === Table Body ============================================================ */
		
		.table tbody tr td ,
		.table tbody tr th {
			
			font-weight: normal; padding: $tableBodyPadding; border:none; 
			border-bottom-color: $tableCellBorderColor; 
			border-top-color: $tableCellBorderColor; 
			border-left-color: $tableCellBorderColor; 
			border-bottom: 1px solid $tableCellBorderColor;
			
			@include transition( background-color 0.3s ease );
		
		}
		.table tbody tr:last-child td ,
		.table tbody tr:last-child th {
			border-bottom: none;	
		}
		
		.table tbody td:first-child, 
		.table tbody th:first-child { font-weight: normal;  }
		
		.table tbody:first-child tr:first-child th,
		.table tbody:first-child tr:first-child td { box-shadow: 0 11px 12px -10px #bbb inset; border-top: 1px solid darken($tableColor,15%); }
		
		.table tbody tr td.icon		{ border-left-style: dotted; border-left-width: 1px; width: 24px; }
		.table tbody tr td.icon a	{ display: block; text-align: center; }
		
		
		.table tbody tr td p:only-child { margin: 0; }
		
		
	/* === Table Sectioned content ============================================================ */
		
		.table tbody tr.section td,
		.table tbody tr.section th { cursor: pointer; font-size: 14px; font-weight: 600;  background-color: $tableSectionColor; }
		.table tbody tr.section td,
		.table tbody tr.section th { background-color: $tableSectionColor; border-bottom-color: darken( $tableSectionColor, 20%);  }
		.table tbody tr.section:hover td,
		.table tbody tr.section:hover th { background-color: fade( $tableSectionColor, 50% );; }
		
		.table tbody tr.page td,
		.table tbody tr.page th { cursor: pointer; font-weight: 500; background-color: $tablePageColor; }
		.table tbody tr.page td,
		.table tbody tr.page th { background-color: $tablePageColor; border-bottom-color: darken( $tablePageColor, 20%);  }
		.table tbody tr.page:hover td,
		.table tbody tr.page:hover th { background-color: fade( $tablePageColor, 50% );; }
		
		.table tbody tr.content td,
		.table tbody tr.content th { font-weight: 400; background-color: $tableContentColor; }
		.table tbody tr.content td,
		.table tbody tr.content th { background-color: $tableContentColor; border-bottom-color: darken( $tableContentColor, 20%); }
		.table tbody tr.content:hover td,
		.table tbody tr.content:hover th { background-color: fade( $tableContentColor, 50% );; }
		
		.table tbody tr td.collapse		{ width: 24px; }
		.table tbody tr td.collapse a	{ 
			
			text-indent: -999em; width: 24px; height: 20px; display: block; background-repeat: no-repeat; background-position: center 4px;
			
			&.collapse { background-image: url('#{$collapseIcon}'); 
				&:hover { background-image: url('#{$expandIcon}'); }}
			&.expand { background-image: url('#{$expandIcon}'); 
				&:hover { background-image: url('#{$collapseIcon}'); }}
			
		}
		
		
		
		
		
	/* === Table States (flagged/active) ============================================================ */
		
		.table tbody tr {
			
			td a.state {
			
				text-indent: -999em; width: 24px; height: 20px; display: block; background-repeat: no-repeat; background-position: center 4px;
				
				&.enabled, &.active { background-image: url('#{$activeIcon}'); }
				&.disabled, &.inactive { background-image: url('#{$inactiveIcon}'); }
				&.enabled:hover, &.active:hover,
				&.disabled:hover, &.inactive:hover { background-image: url('#{$activeHoverIcon}'); }
	
				&.flagged { background-image: url('#{$flaggedIcon}'); }
				&.unflagged { background-image: url('#{$unflaggedIcon}'); }
				&.flagged:hover { background-image: url('#{$unflaggedIcon}'); }
				&.unflagged:hover { background-image: url('#{$flaggedIcon}'); }
			
			}
			
			&.inactive { opacity: 0.4; @include transition( opacity 0.2s ); }
			&.inactive:hover { opacity: 1; }
			
			&.flagged td, 
			&.flagged th { background-color: $tableFlaggedColor; }

		}
		
		
		
		
	/* === Table Stripes ============================================================ */
		
		.table-striped tbody tr:nth-child(odd) td, 
		.table-striped tbody tr:nth-child(odd) th { background-color: $tableStripeColor; }
		
		.table-striped tbody tr.section td, 
		.table-striped tbody tr.section th {  background-color: $tableSectionColor; }
		
		
	/* === Table Hovering ============================================================ */

		.table-hover tbody tr:hover td, 
		.table-hover tbody tr:hover th { background-color: $tableHoverColor; border-bottom-color: $hintColor; }
		
		.table img { max-width: none; }
		




	/* === Section/Body ============================================================ */

		.table tbody+tbody,
		.table tbody tr.section td,
		.table tbody tr.section th { border-top: 1px solid $tableColor; border-bottom: 1px solid $tableColor; }
		
		.table tbody tr:last-child td,
		.table tbody tr:last-child th { border-bottom: none; }
		
        .table tbody.ui-sortable tr:hover { cursor: move; }






		
		
