

	/* ==========================================================================
	   Tabs Variables
	   ========================================================================== */
		
		$tabPadding: 					4px 15px 4px;
		$tabBorderColor:				#738393;
		$tabHighlightColor:				$hintColor;
		$tabInactiveColor:				fade( $tabBorderColor, 15% );
		
		$tabCloseSize:					16px;

		$borderRadius:					3px;
		
		
		$secondaryTabBorderColor:		#999;


	/* ==========================================================================
	   Tabs Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Tabs Styles
	   ========================================================================== */

		
		.nav-tabs { padding: 0 10px; border-bottom: 1px solid $tabBorderColor; }
		.nav-tabs-secondary { padding: 0 24px; border-bottom: 1px solid $secondaryTabBorderColor; }
		
		.nav-tabs > li {

			position: relative;

			> a {
		
				padding: $tabPadding;
				border-top-width: 3px;
				border-radius: $borderRadius $borderRadius 0 0; 
				
				img { opacity: 0.5; }
			
			}

			&.with-close {

				> a { padding-right: $tabCloseSize + 20px; }
				> .multi-close-tab {

					cursor: pointer;
					opacity: 0.7;
					position: absolute;
					right: 15px; top: 7px;
					height: $tabCloseSize; width: $tabCloseSize;

					&:hover { opacity: 1; }
				}

			}

		}
		
.lt-ie9 .nav-tabs > li > a img { max-width: none; }


		.nav-tabs > li > a:hover {
		
			border-color: transparent transparent $tabBorderColor;
			background-color: $tabInactiveColor;
			box-shadow: 0 -13px 14px -11px fade($tabBorderColor, 15%) inset;
			
			img { opacity: 1; }
			
		}
		
		.nav-tabs > li.disabled {
			
			img { @include filter( grayscale(100%) ); }
			
			> a:hover {
			
				border-color: transparent; 
				box-shadow: none;
				
				img { opacity: 0.5; }
				
			}
			
		}
		
		.nav-tabs > .active > a,
		.nav-tabs > .active > a:hover {
			
			border: 1px solid $tabBorderColor;
			border-bottom-color: transparent;
			border-top: 3px solid $tabHighlightColor;
			box-shadow: -6px -5px 15px -5px fade( $tabBorderColor, 20% ), 4px -5px 15px -5px fade( $tabBorderColor, 20% );
			
			img { opacity: 1; }
			
		}

		.nav-tabs-secondary > li > a,
		.nav-tabs-secondary > .active > a,
		.nav-tabs-secondary > .active > a:hover { border-top-width: 1px; padding-top: 5px; }

		.nav-tabs-secondary > .active > a,
		.nav-tabs-secondary > .active > a:hover { border-color: $secondaryTabBorderColor $secondaryTabBorderColor transparent; }
		
		
		
		
		
		
		.tab-content { overflow: visible; }
		
		
		
		
	/* ==========================================================================
	   Tabs media queries
	   ========================================================================== */

		@media (max-width: 767px) {
			
			.nav-tabs { margin-bottom: 20px; padding-bottom: 10px; }
			.nav-tabs > li { margin: 5px 5px 0 0; }
			.nav-tabs > li > a { border-radius: $borderRadius; }
			.nav-tabs > li > a:hover { border-bottom-color: rgba(0,0,0,0.05); box-shadow: none; }
			
			.nav-tabs > .active > a,
			.nav-tabs > .active > a:hover { 
				border-bottom: 1px solid $tabBorderColor;
			}

		}
		
		
		
		
		
		
		
		
		
