


	/* ==========================================================================
	   Validation Variables
	   ========================================================================== */
		
		$errorColor:		$redColor;
		$okColor:			$greenColor;
		
		$validationSize:	11px;


	/* ==========================================================================
	   Validation Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Validation Styles
	   ========================================================================== */

		
		
		
		label[class*=validation-] { display: block; font-size: $validationSize; margin: 0; }
		
		label.validation-error { color: $errorColor; }
		label.validation-ok { color: $okColor; }
			
		
		
		
		
		
		
		select, textarea, 
		.select2-container .select2-choice, 
		.select2-container .select2-choices, 
		.select2-drop,
		input[type="text"], input[type="password"], 
		input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"],
		 input[type="number"], 
		input[type="email"], input[type="url"], 
		input[type="search"], input[type="tel"], 
		input[type="color"], 
		.uneditable-input {
		
			&.validation-error { border-color: $redColor; }	
			
		}
		
		
		
		
