{# src/Acme/SecurityBundle/Resources/views/PasswordReset/index.html.twig #}

{% include 'DLAdminBundle::layout/head.html.twig' %}

{% spaceless %}



<div class="login-form">

	<form method="post" action="{{ path('admin_password_reset') }}" id="resetForm">

		<fieldset>

			<div class="row-fluid">
				<div class="span8">
					<h2>Login <small>Recover a lost password</small></h2>
				</div>
				<div class="span4">
                    <a href="{{ path('admin_home') }}"><img src="{{ admin_logo }}" alt="Company Logo for {{ getAppSetting('site_name') }}"></a>
				</div>
			</div>

			<hr>

			<div class="fields">

				<div class="formRow {% if error %}error{% endif %}">
					<div class="formQuestion">
						<label for="username">Username</label>
					</div>
					<div class="formAnswer">
						<div class="input-prepend">
							<label for="username" class="add-on"><i class="icn i-user-silhouette">Username</i></label>
							<input type="text" id="form_username" name="form[username]" value="{{ last_username }}" required class="medium">
						</div>
						<br><small>Your password will be sent to the registered email address.</small>
					</div>
				</div>

				<div class="formRow">
					<div class="formQuestion">

					</div>
					<div class="formAnswer">
						<button type="submit" class="btn alt large login"><span>Reset your password</span></button>
					</div>
				</div>

			</div>

		</fieldset>


	</form>


</div>



<script>

// ----------------------------------------------
// VALIDATION
// -----------------------------------------------

$(document).ready(function() {

    $("#resetForm").validate({
        rules: {
            "form[username]" : { required: true }
        }
    });

});
</script>






{% endspaceless %}
{% include 'DLAdminBundle::layout/foot.html.twig' %}
