{% include 'DLAdminBundle::layout/head.html.twig' %}

    <div id="container">

			<header class="site-header">
				<h1>Dot Label CMS</h1>
			</header>

			<section class="account-bar">
					<ul class="nav nav-pills user">
						<li class="item dropdown icn-user">

							<a data-toggle="dropdown" class="dropdown-toggle" href="#" title="toggle personal options menu">
                                <span class="text">Hello, {{ app.user.fullName }}</span> <b class="caret"></b>
							</a>

							<ul class="dropdown-menu">

								<li class="icn-options">
								<a href="{{ path('admin_user_profile') }}" title="personal options">
									<span class="text">Your Profile</span>
								</a>
								</li>

								<li class="divider"></li>
							</ul>

						</li>

                        <li class="item logout icn-logout">
						<a href="{{ path('admin_logout') }}" title="logout of admin interface">
							<span class="text">Logout</span>
						</a>
						</li>

					</ul>
			</section>

			<section class="body" role="main">

                {% include 'DLAdminBundle::layout/navigation.html.twig' %}

				<section class="content">
                    <header class="page-header">
                        <h2>{{ heading | default('Admin') }}{% if subheading %}<small>{{ subheading }}</small>{% endif %}</h2>
                        <hr>
                    </header>

                    {% for flashMessage in app.session.flashbag.get('success') %}
                    <aside class="alert alert-warning fade in">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>{{ flashMessage | raw }}</h4>
                    </aside>
                    {% endfor %}

                    {% block body %}
                    {% endblock body %}
				</section>

			</section>

			<footer></footer>

		</div>

{% include 'DLAdminBundle::layout/foot.html.twig' %}
