<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
{% block head %}
<title>{% block title %}{{ getAppSetting('site_name') }} / Admin{% endblock %}</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

{% stylesheets filter='cssrewrite'
    'bundles/dladmin/css/vendor/normalize/1.0.1/normalize.css'
    'bundles/dladmin/css/vendor/bootstrap/2.2.1/bootstrap.custom.min.css'
    'bundles/dladmin/css/main.scss'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% javascripts
'bundles/dladmin/js/fonts.js'
'bundles/dladmin/js/vendor/tmpl/2.1.0/tmpl.js'
'bundles/dladmin/js/vendor/modernizr/2.6.1/modernizr.min.js'
'bundles/dladmin/js/vendor/jquery/1.9.1/jquery.js'
'bundles/dladmin/js/vendor/jqueryui/1.10.0/jqueryui.js'
'bundles/dladmin/js/vendor/bootstrap/2.3.1/bootstrap.js'
'bundles/dladmin/js/vendor/qtip/2.0.1/qtip2.js'
'bundles/dladmin/js/vendor/select2/3.4.0b/select2.js'
'bundles/dladmin/js/vendor/validate/1.11.1/jquery.validate.js'
'bundles/dladmin/js/plugins.js'
'bundles/dladmin/js/main.js'
'bundles/dladmin/js/shell/nav.js'
'bundles/dladmin/js/shell/account-bar.js'
'bundles/dladmin/js/shell/image-zoom.js'
'bundles/dladmin/js/dl/jquery.dlToggleEntityState.js'
'bundles/dladmin/js/dl/jquery.dlDeleteEntity.js'
'bundles/dladmin/js/dl/jquery.dlMultiEditEntity.js'
'bundles/dladmin/js/dl/jquery.dlMultiViewEntity.js'
'bundles/dladmin/js/dl/jquery.dlAjaxLink.js'
'bundles/dladmin/js/dl/jquery.dlSortable.js'
'bundles/dladmin/js/components/alerts.js'
'bundles/dladmin/js/components/widgets.js'
'bundles/dladmin/js/components/progress.js'
'bundles/dladmin/js/components/tables.js'
'bundles/dladmin/js/components/tabs.js'
'bundles/dladmin/js/components/spinners.js'
'bundles/dladmin/js/components/forms.js'
'bundles/dladmin/js/components/validation.js'
'bundles/dladmin/js/metaData.js'
'bundles/dladmin/js/collection.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock head %}
</head>

<body class="{{app.request.get('_route')}}">
