	<nav>

		<div class="logo">
			<a href="{{ path('admin_home') }}"><img src="{{ admin_logo }}" alt="Company Logo for {{ getAppSetting('site_name') }}"></a>
		</div>

		<ul>
            <li class="item {% if area=='dashboard' %}active{% endif %} icn-home">
                <a href="{{ path('admin_home') }}"><span class="text">Dashboard</span></a>
            </li>

            {% if is_granted('ROLE_PAGE_ADMIN') %}
            <li class="item {% if area=='pages' %}active{% endif %} icn-pages">
                <a href="{{ path('admin_pages') }}"><span class="text">Page Content</span></a>
            </li>
            {% endif %}

            {{ render(controller('DLAdminBundle:AdminMenu:renderModules', { 'area': area } )) }}

            <li class="divider gap"></li>


            {% if is_granted('ROLE_USER_ADMIN') %}
            <li class="item {% if area=='users' %}active{% endif %} icn-users">
                <a href="{{ path('admin_users') }}"><span class="text">Users</span></a>
                <ul class="sub">
                    <li class="subitem icn-users-add">
                        <a href="{{ path('admin_users') }}#user-new"><span class="text">Add new user</span></a>
                    </li>

                    <li class="subitem icn-users-manage">
                        <a href="{{ path('admin_users') }}"><span class="text">Manage users</span></a>
                    </li>
                </ul>
            </li>
            {% endif %}

            {% if is_granted('ROLE_ACTION_LOGIN_ADMIN') %}
            <li class="item {% if area=='action_log' %}active{% endif %} icn-logs">
                <a href="{{ path('admin_action_log') }}"><span class="text">Admin Log</span></a>
            </li>
            {% endif %}
        </ul>
    </nav>
