	<header>

		<a href="http://www.dotlabel.co.uk" class="dotlabel-logo" target="_blank">
			<img src="/bundles/dladmin/img/logos/dotlabel_logo.png">
		</a>

		<div class="navbar navbar-inverse">
		<div class="navbar-inner">

			<ul class="nav user">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ app.user.fullName }} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('admin_user_profile') }}"><span>	Edit Profile	</span></a></li>
						<li><a href="{{ path('admin_logout') }}"><span>			Logout			</span></a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav help pull-right">
				<li><a href="mailto:support@dotlabel.co.uk?subject=Belvenie%20support%20Enquiry%20from%20DotLabel%20CMS" title="Email us for support">Need Help? Email Us</a></li>
			</ul>

		</div>
		</div>

	</header>
