{# src/Acme/SecurityBundle/Resources/views/Security/login.html.twig #}

{% include 'DLAdminBundle::layout/head.html.twig' %}

{% spaceless %}

<div class="login-form">

	<form method="post" action="{{ path('admin_login_check') }}" id="loginForm">

		<fieldset>

			<div class="row-fluid">
				<div class="span8">
					<h2>Login <small>{{ getAppSetting('site_name') }} Admin Interface</small></h2>
				</div>
				<div class="span4">
                    <a href="{{ path('admin_home') }}"><img src="{{ admin_logo }}" alt="Company Logo for {{ getAppSetting('site_name') }}"></a>
				</div>
			</div>

			<hr>


				{# the password reset has been emailed will appear below #}
				{% for flashMessage in app.session.flashbag.get('success') %}
				<script>
					$(function() {
						notify( "{{ flashMessage }}", { where: '.fields', method: 'before', style: "success" });
					});
				</script>
				{% endfor %}

				{# the password reset failed error will appear below #}
				{% for flashMessage in app.session.flashbag.get('error') %}
				<script>
					$(function() {
						notify( "{{ flashMessage }}", { where: '.fields', method: 'before', style: "error" });
					});
				</script>
				{% endfor %}

				{# the form login error will appear below #}
				{% if error %}
				<script>
					$(function() {
						notify( "{{ error.message|trans }}", { where: '.fields', method: 'before', style: "error" });
					});
				</script>
				{% endif %}





			<div class="fields">

				<div class="formRow {% if error %}error{% endif %}">
					<div class="formQuestion">
						<label for="username">Username</label>
					</div>
					<div class="formAnswer">
						<div class="input-prepend">
							<label for="username" class="add-on"><i class="icn i-user-silhouette">Username</i></label>
							<input type="text" id="username" name="_username" value="{{ last_username }}" required class="medium">
						</div>
					</div>
				</div>

				<div class="formRow {% if error %}error{% endif %}">
					<div class="formQuestion">
						<label for="password">Password</label>
					</div>
					<div class="formAnswer">
						<div class="input-prepend">
							<label class="add-on" for="password"><i class="icn i-key">Password</i></label>
							<input type="password" id="password" name="_password" required class="medium" autocomplete="off">
						</div>
					</div>
				</div>

				<div class="formRow">
					<div class="formQuestion">

					</div>
					<div class="formAnswer">
						<button type="submit" class="btn alt large login"><span>Login</span></button>

					</div>
				</div>

			</div>

			<hr>

			<div class="row-fluid">
				<div class="span6">
					<input type="checkbox" id="rememberMe" name="_rememberMe" class="clean checkbox">
					<label for="rememberMe">Remember me</label>
				</div>
				<div class="span6">
					<label class="pull-right"><a href="{{ path('admin_password_reset') }}" >Forgot Password?</a></label>
				</div>
			</div>

		</fieldset>

	</form>


</div>







<script>

// ----------------------------------------------
// VALIDATION
// -----------------------------------------------

$(document).ready(function() {

    $("#loginForm").validate({
        rules: {
            "_username" : { required: true },
            '_password' : { required: true }
        }
    });

});
</script>









{% endspaceless %}

{% include 'DLAdminBundle::layout/foot.html.twig' %}
