{% set adminArea = area|lower %}
{% if adminArea == "event" %}
    {% set adminArea = "events" %}
{% endif %}


{% if topLevelModules|length > 0 %}

    {% for module in topLevelModules %}
    {% set moduleSlug = module.name | lower | replace({' ': '-'}) %}

    {% if module.adminControllerRoute %}


    <li class="item icn-{{- moduleSlug }} {% if moduleSlug == adminArea %}active{% endif %}">

        <a href="{{ path(module.adminControllerRoute) }}"><span class="text">{{ module.name }}</span></a>

		{% if module.subMenuItems %}
		<ul class="sub">
			{% for item in module.subMenuItems %}
			<li class="subitem icn-{{ moduleSlug }}-list">
				<a href="{{ item.href }}"><span class="text">{{ item.title }}</span></a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}

        {% if moduleSlug|lower == "news-articles" %}

        <ul class="sub">

            <li class="subitem icn-{{- moduleSlug }}-list">
                <a href="{% if moduleSlug == adminArea %}#{% else %}{{ path(module.adminControllerRoute) }}#article-list{% endif %}"
                {% if moduleSlug == adminArea %}onclick="$('[data-toggle=tab][href=#article-list]').tab('show');"{% endif %}>
                    <span class="text">News List</span>
                </a>
            </li>

            <li class="subitem icn-{{- moduleSlug }}-new">
                <a href="{% if moduleSlug == adminArea %}#{% else %}{{ path(module.adminControllerRoute) }}#article-new{% endif %}"
                {% if moduleSlug == adminArea %}onclick="$('[data-toggle=tab][href=#article-new]').tab('show');"{% endif %}>
                    <span class="text">Add News Item</span>
                </a>
            </li>

        </ul>

        {% endif %}




        {% if moduleSlug|lower == "events" %}

        <ul class="sub">

            <li class="subitem icn-{{- moduleSlug }}-list">
                <a href="{% if moduleSlug == adminArea %}#{% else %}{{ path(module.adminControllerRoute) }}#event-list{% endif %}"
                {% if moduleSlug == adminArea %}onclick="$('[data-toggle=tab][href=#event-list]').tab('show');"{% endif %}>
                    <span class="text">Events List</span>
                </a>
            </li>

            <li class="subitem icn-{{- moduleSlug }}-new">
                <a href="{% if moduleSlug == adminArea %}#{% else %}{{ path(module.adminControllerRoute) }}#event-new{% endif %}"
                {% if moduleSlug == adminArea %}onclick="$('[data-toggle=tab][href=#event-new]').tab('show');"{% endif %}>
                    <span class="text">Add New Event</span>
                </a>
            </li>

        </ul>

        {% endif %}




        {% if moduleSlug|lower == "competition" %}

        <ul class="sub">

            <li class="subitem icn-{{- moduleSlug }}-list">
                <a href="{% if moduleSlug == adminArea %}#{% else %}{{ path(module.adminControllerRoute) }}#competition-list{% endif %}"
                {% if moduleSlug == adminArea %}onclick="$('[data-toggle=tab][href=#competition-list]').tab('show');"{% endif %}>
                    <span class="text">Competitions List</span>
                </a>
            </li>

            <li class="subitem icn-{{- moduleSlug }}-new">
                <a href="{% if moduleSlug == adminArea %}#{% else %}{{ path(module.adminControllerRoute) }}#competition-new{% endif %}"
                {% if moduleSlug == adminArea %}onclick="$('[data-toggle=tab][href=#competition-new]').tab('show');"{% endif %}>
                    <span class="text">Add New Competition</span>
                </a>
            </li>

        </ul>

        {% endif %}




        {% if moduleSlug|lower == "faqs" %}

        <ul class="sub">

            <li class="subitem icn-{{- moduleSlug }}-list">
                <a href="{% if moduleSlug == adminArea %}#{% else %}{{ path(module.adminControllerRoute) }}#question-list{% endif %}"
                {% if moduleSlug == adminArea %}onclick="$('[data-toggle=tab][href=#question-list]').tab('show');"{% endif %}>
                    <span class="text">FAQ List</span>
                </a>
            </li>

            <li class="subitem icn-{{- moduleSlug }}-new">
                <a href="{% if moduleSlug == adminArea %}#{% else %}{{ path(module.adminControllerRoute) }}#question-new{% endif %}"
                {% if moduleSlug == adminArea %}onclick="$('[data-toggle=tab][href=#question-new]').tab('show');"{% endif %}>
                    <span class="text">Add New FAQ</span>
                </a>
            </li>

        </ul>

        {% endif %}






    </li>
    {% endif %}

    {% endfor %}

{% endif %}

<li class="divider"></li>

{% if subModules|length > 0 %}
    <li class="item icn-modules">
        <a href="#"><span class="text">Modules</span></a>

        {% for module in subModules %}

        {% if loop.first %}
        <ul class="sub">
        {% endif %}
            {% if module.adminControllerRoute %}
            <li class="subitem icn-{{- module.name | lower | replace({' ': '-'}) }} {% if module.name | lower | replace({' ': '-'}) == adminArea %}active{% endif %}">
                <a href="{{ path(module.adminControllerRoute) }}"><span class="text">{{ module.name }}</span></a>
            </li>
            {% endif %}

        {% if loop.last %}
        </ul>
        {% endif %}

        {% endfor %}
    </li>
{% endif %}
