{% block body %}
<form data-entity-id="{{ entity.id }}" id="editUserForm" name="editUserForm" action="{{ path('admin_users_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}  novalidate="novalidate">
    {% form_theme form 'DLAdminBundle:Form:form_div_layout.html.twig' %}
    <div class="row-fluid">
        <div class="span12">
            <fieldset>
                <h3>Edit User</h3>

                {% spaceless %}

                <div class="formRow">
                    <div class="formQuestion">
                        {{ form_label(form.username) }}
                    </div>
                    <div class="formAnswer">
                        {{ form_widget(form.username , { attr: { class: 'small' } }) }}
                        {{ form_errors(form.username) }}
                    </div>
                </div>

                <div class="formRow">
                    <div class="formQuestion">
                        {{ form_label(form.email) }}
                    </div>
                    <div class="formAnswer">
                        {{ form_widget(form.email , { attr: { class: 'medium' } }) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>

                <div class="formRow">
                    <div class="formQuestion">
                        {{ form_label(form.fullName) }}
                    </div>
                    <div class="formAnswer">
                        {{ form_widget(form.fullName , { attr: { class: 'medium' } }) }}
                        {{ form_errors(form.fullName) }}
                    </div>
                </div>

                <div class="formRow">
                    <div class="formQuestion">
                        {{ form_label(form.mobile) }}
                    </div>
                    <div class="formAnswer">
                        {{ form_widget(form.mobile , { attr: { class: 'medium' } }) }}
                        {{ form_errors(form.mobile) }}
                    </div>
                </div>

                {% if entity.webPath %}
                <div class="formRow">
                    <div class="formQuestion">Current Image (Thumbnail)</div>
                    <div class="formAnswer">
                        <img src="{{ entity.webPath }}" alt="thumb" />
                    </div>
                </div>
                {% endif %}

                <div class="formRow">
                    <div class="formQuestion">
                        {{ form_label(form.photoFile) }}
                    </div>
                    <div class="formAnswer">
                        {{ form_widget(form.photoFile , { attr: { class: 'medium' } }) }}
                        {{ form_errors(form.photoFile) }}
                    </div>
                </div>

                {{ form_row(form.bio) }}

			{% endspaceless %}

            </fieldset>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <fieldset>
                <h3>Password</h3>
                {{ form_row(form.password, {id: 'admin_edit_user_password'}) }}
            </fieldset>
        </div>
    </div>
    <div class="row-fluid userPrivileges">
        <div class="span12">
            <fieldset>

                <h3>Privileges</h3>

                <div class="formRow">
                    <div class="formQuestion">
                        <input type="checkbox" id="chkEditCheckAll" name="chkEditCheckAll">
                    </div>
                    <div class="formAnswer">
                        <label for="chkEditCheckAll">Give all privileges</label>
                    </div>
                </div>

				<script>

					$(document).ready(function(e) {

						/**
						* Check all.
						*/
						$('#chkEditCheckAll').on('change', function() {

							if( $(this).is(':checked') ) {
								$(this).parents('.userPrivileges').find('.privilegeRow input').prop('checked',true).trigger('change');
							} else {
								$(this).parents('.userPrivileges').find('.privilegeRow input').prop('checked',false).trigger('change');
							}

						});

						// initiate fancy checkboxes
						$(':checkbox').chkbox();
    					$(':radio').radio();

					});

				</script>


                <hr>

                {% for privilege in form.privileges %}
                <div class="formRow privilegeRow">
                    <div class="formQuestion">
                        {{ form_widget(privilege) }}
                    </div>
                    <div class="formAnswer">
                        {{ form_label(privilege) }}
                    </div>
                </div>
                {% endfor %}

            </fieldset>
        </div>
    </div>
    <div class="formRow buttonRow">
        <div class="formQuestion"></div>
        <div class="formAnswer">
            <button type="submit" class="new btn green">
                <span>Submit</span>
                <img alt="edit" class="icon" src="{{ asset('bundles/dladmin/img/vendor/fugue/icons/disk-black.png') }}">
            </button>
        </div>
    </div>

    {{ form_rest(form) }}
</form>
<script>
    var $form = $("#editUserForm");


    //repeater field needs required tag removed
    var $requiredFields = $form.find('input[required="required"]');
    $requiredFields.removeAttr('required');


    /**
     * User updating
     */
    var validator = $form.validate({
        rules: {
            'admin_user_{{ entity.id }}[username]' : {
                required: true,
                minlength: 4,
                maxlength: 10
            },
            'admin_use_{{ entity.id }}[email]' : {
                required: true,
                email: true
            },
            'admin_user_{{ entity.id }}[fullName]' : {
                required: true,
                minlength: 4
            },
            'admin_user_{{ entity.id }}[password][first]' : {
                required: false,
                minlength: 6
            },
            'admin_user_{{ entity.id }}[password][second]' : {
				required: function(element) { return $("#editUserForm input[name='admin_user_{{ entity.id }}[password][first]']").val() !== ""; },
                equalTo: $("#editUserForm input[name='admin_user_{{ entity.id }}[password][first]']")
            }
        },
        submitHandler: function(form) {
            var data = $(form).serialize();
            var url = $(form).attr('action');

            var jqxhr = $.post(url, data, function(data, status, xhr) {
                if (-1 !== xhr.getResponseHeader('Content-Type').indexOf('json')) {
                    if (data.status == 'OK') {
                        growl(data.message, {style:'success'});
                        loadUsers();
                        $('#user-edit-tab').disableTab()
                        $('#user-list-tab a').trigger('click');
                        $('#user-edit').html('');
                    } else {
                        growl('An error occured. Please try again', {style:'error'});
                            console.log(data.errors);
                            // add ajax errors to form
                            validator.showErrors(data.errors, true);
                    }
                } else {
                   // $('#user-edit').html(data);
                }
            });

            return false;
        }
    });

</script>
{% endblock %}
