{% extends 'DLAdminBundle::layout.html.twig' %}

{% set heading='User Management' %}
{% set subheading='Add, edit or delete admin users' %}


{% block body %}
<script>
function loadUsers() {
    $('#user-list').load("{{ path('admin_users_list') }}");
}


$(document).ready(function() {

    /**
     * User Editing
     */
    $('#user-list').on('click', 'a.edit', function(e) {
        e.preventDefault();

        // grab the url
		var $this = $(this);
        var url = $this.attr('href');

        // load in the content
		$this.swapOutForSpinner();
        $('#user-edit').load( url , function() {
			$('#user-edit-tab a').enableTab().trigger('click');
			$this.swapInForSpinner();
		});

    });

    /**
     * User filtering
     */
    $(document).on('click', '#user-role-filter a', function(e) {
        e.preventDefault();

        // grab the url
		var $this = $(this);
        var url = $this.attr('href');

        $('#user-list').load(url);
    });

    /**
     * User Deletion
     */
    $('#user-list').on('click', 'a.delete', function(e) {
        $(this).dlDeleteEntity(e, {
            confirmDialog: $('#dialog-delete-user')
        });
    });

    /**
     * User enabling or disabling
     */
    $('#user-list').on('click', 'a.state', function(e) {
		var message = "The user <strong>"+ $(this).closest('tr').find('td.username').text()+"</strong> has been set to __state__";
        $(this).dlToggleEntityState(e,message);
    });

});
</script>


<ul class="nav nav-tabs users-tabs">
    <li id="user-list-tab" class="active"><a href="#user-list" data-toggle="tab"><i class="icn i-ui-menu-blue"></i> User List</a></li>
    <li><a href="#user-new" data-toggle="tab"><i class="icn i-user-silhouette"></i> Add User</a></li>
    <li id="user-edit-tab" class="disabled"><a href="#user-edit" data-toggle=""><i class="icn i-user-worker"></i> Edit User</a></li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="user-list">
        {{ render(controller("DLAdminBundle:UserAdmin:list")) }}
    </div>

    <div class="tab-pane" id="user-new">
        {{ render(controller("DLAdminBundle:UserAdmin:new")) }}
    </div>

    <div class="tab-pane" id="user-edit">
    </div>
</div>

<div id="dialog-delete-user" style="display:none;">
    Really delete this user?<br>
    <span class="red text">This action cannot be undone.</span>
</div>

{% endblock %}
