
<div class="form-actions above-table">
    <div class="btn-group pull-right">
        <a class="btn alt dropdown-toggle" id="ddl-filter" role="button" data-toggle="dropdown" data-target="#" href="news.php">Filter Users by Privilege <span class="caret"></span></a>
        <ul class="dropdown-menu" id="user-role-filter" role="menu" aria-labelledby="ddl-filter">
            {% for privilege in privileges %}
            <li><a href="{{ path('admin_users_list_with_role', {role: privilege.role }) }}" data-role="{{ privilege.role }}">{{ privilege.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Last Login</th>
            <th scope="col" colspan="3"></th>
        </tr>
    </thead>

    <tbody>
{% if pagination|length > 0 %}

    {% for entity in pagination %}
        <tr class="{{ entity.getEnabledString() }}">
            <td><a href="{{ path('admin_users_edit', { 'id': entity.id }) }}" title="edit this user" class="edit">{{ entity.fullName }}</td>
            <td class="username">{{ entity.username }}</a></td>
            <td><a href="mailto:{{ entity.email }}" title="Click to send email to: <br><strong>{{ entity.email }}</strong>" class="tip">{{ entity.email }}</a></td>
            <td>{{ entity.mobile }}</td>
            <td><i class="icn i-clock"></i> {{ time_diff(entity.lastLoginAt|date('Y-m-d h:m')) }}</td>
            <td class="icon">
                {% if entity.id != app.user.id %}
                <a href="{{ path('admin_users_toggle_enabled', {'id': entity.id}) }}" data-entity-id="{{ entity.id }}" class="state {{ entity.getEnabledString() }} tooltip" title="toggle this user as active/inactive">
					Toggle Active/Inactive
				</a>
                {% endif %}
            </td>
            <td class="icon">
                <a href="{{ path('admin_users_edit', { 'id': entity.id }) }}" data-entity-id="{{ entity.id }}" class="edit tooltip" title="edit this user">
                    <i class="icn i-pencil">Edit</i>
                </a>
            </td>
            <td class="icon">
                {% if entity.id != app.user.id %}
                    <a href="{{ path('admin_users_delete', { 'id': entity.id }) }}" class="delete tooltip" title="delete this user" data-entity-id="{{ entity.id }}">
						<i class="icn i-cross">Delete</i>
					</a>
                {% endif %}
             </td>

        </tr>
    {% endfor %}

{% else %}

		<tr>
            <td><p><i class="icn i-folder-smiley-sad"></i> No users matching that filter exist on the system!</p></td>
			<td>&mdash;</td>
			<td>&mdash;</td>
			<td>&mdash;</td>
			<td>&mdash;</td>
			<td colspan="3"></td>
		</tr>

{% endif %}
    </tbody>
</table>

{{ knp_pagination_render(pagination) }}
