{% extends 'DLAdminBundle::partialLayout.html.twig' %}

{% block body %}

<div id="newUserContainer">

<form id="newUserForm" action="{{ path('admin_users_create') }}" method="post" {{ form_enctype(form) }}   novalidate="novalidate">
{% form_theme form 'DLAdminBundle:Form:form_div_layout.html.twig' %}

<div class="row-fluid">
    <div class="span12">
        <fieldset>
            <h3>New User</h3>

			{% spaceless %}

			<div class="formRow">
				<div class="formQuestion">
					{{ form_label(form.username) }}
				</div>
				<div class="formAnswer">
					{{ form_widget(form.username , { attr: { class: 'small' } }) }}
					{{ form_errors(form.username) }}
				</div>
			</div>

			<div class="formRow">
				<div class="formQuestion">
					{{ form_label(form.email) }}
				</div>
				<div class="formAnswer">
					{{ form_widget(form.email , { attr: { class: 'medium' } }) }}
					{{ form_errors(form.email) }}
				</div>
			</div>

			<div class="formRow">
				<div class="formQuestion">
					{{ form_label(form.fullName) }}
				</div>
				<div class="formAnswer">
					{{ form_widget(form.fullName , { attr: { class: 'medium' } }) }}
					{{ form_errors(form.fullName) }}
				</div>
			</div>

			<div class="formRow">
				<div class="formQuestion">
					{{ form_label(form.mobile) }}
				</div>
				<div class="formAnswer">
					{{ form_widget(form.mobile , { attr: { class: 'medium' } }) }}
					{{ form_errors(form.mobile) }}
				</div>
			</div>

            <div class="formRow">
				<div class="formQuestion">
					{{ form_label(form.photoFile) }}
				</div>
				<div class="formAnswer">
					{{ form_widget(form.photoFile , { attr: { class: 'medium' } }) }}
					{{ form_errors(form.photoFile) }}
				</div>
			</div>

            {{ form_row(form.bio) }}

			{% endspaceless %}

        </fieldset>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <fieldset>
            <h3>Password</h3>
            {{ form_row(form.password) }}
        </fieldset>
    </div>
</div>
<div class="row-fluid userPrivileges">
    <div class="span12">
        <fieldset>

            <h3>Privileges</h3>

			<div class="formRow">
				<div class="formQuestion">
					<input type="checkbox" id="chkNewCheckAll">
				</div>
				<div class="formAnswer">
					<label for="chkNewCheckAll">Give all priviledges</label>
				</div>
			</div>

			<script>

				$(document).ready(function(e) {

					/**
					* Check all.
					*/
					$('#chkNewCheckAll').on('change', function(e) {

						if( $(this).is(':checked') ) {
							$(this).parents('.userPrivileges').find('.privilegeRow input').prop('checked',true).trigger('change');
						} else {
							$(this).parents('.userPrivileges').find('.privilegeRow input').prop('checked',false).trigger('change');
						}

					});




				});

			</script>

			<hr>

            {% for privilege in form.privileges %}
			<div class="formRow privilegeRow">
				<div class="formQuestion">
					{{ form_widget(privilege) }}
				</div>
				<div class="formAnswer">
					{{ form_label(privilege) }}
				</div>
			</div>
            {% endfor %}

        </fieldset>
    </div>
</div>
<div class="formRow buttonRow">
    <div class="formQuestion"></div>
    <div class="formAnswer">
        <button type="submit" class="new btn green">
            <span>Submit</span>
            <img alt="edit" class="icon" src="{{ asset('bundles/dladmin/img/vendor/fugue/icons/disk-black.png') }}">
        </button>
    </div>
</div>

{{ form_rest(form) }}
</form>

</div>

<script>
$(document).ready(function() {

    /**
     * User creation form
     */
    var validator = $("#newUserForm").validate({
        rules: {
            "admin_user[username]" : {
                required: true,
                minlength: 4,
                maxlength: 10
            },
            'admin_user[email]' : {
                required: true,
                email: true
            },
            'admin_user[fullName]' : {
                required: true
            },
            'admin_user[mobile]' : {
                required: false,
				number: true
            },
            'admin_user[password][first]' : {
                required: true,
                minlength: 6
            },
            'admin_user[password][second]' : {
				required: true,
                equalTo: $("#newUserForm input[name='admin_user[password][first]']")
            }
        },
        submitHandler: function(form) {
            var formData = new FormData($('#newUserForm')[0]);

            // action url for submission
            var url = $('#newUserForm').attr('action');

            var jqxhr = $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data, status, xhr) {

                    if (-1 !== xhr.getResponseHeader('Content-Type').indexOf('json')) {

                        if (data.status == 'OK') {
                            growl(data.message, {style:'success'});
                            loadUsers();
                            $('ul.users-tabs li:first a').trigger('click');
                            $('#newUserForm')[0].reset();
                        } else {
                            growl('An error occured. Please try again', {style:'error'});
                            validator.showErrors(data.errors, true);
                        }
                    } else {
                        $('#newUserContainer').html(data);
                        dlInitJSFormElements();
                    }
                }
            });
        }
    });

});
</script>

{% endblock %}
