<?php

namespace {{ namespace }}\Controller{{ entity_namespace ? '\\' ~ entity_namespace : '' }};

{% block use_statements %}
{% if 'new' in actions or 'edit' in actions or 'delete' in actions %}
use Symfony\Component\HttpFoundation\Request;
{%- endif %}

use Symfony\Component\HttpFoundation\JsonResponse;
use Symfony\Component\HttpFoundation\File\UploadedFile;
use Sensio\Bundle\FrameworkExtraBundle\Configuration\Method;
use Sensio\Bundle\FrameworkExtraBundle\Configuration\Route;
use Sensio\Bundle\FrameworkExtraBundle\Configuration\Template;
use JMS\SecurityExtraBundle\Annotation\Secure;
use DL\CoreBundle\Controller\Controller;
use DL\AdminBundle\Annotation\ModuleDefinition;
use DL\AdminBundle\Annotation\AdminPrivilegeDefinition;

use {{ namespace }}\Entity\{{ entity }};
{% if 'new' in actions or 'edit' in actions %}
use {{ namespace }}\Form\{{ entity }}Type;
{% endif %}
{% endblock use_statements %}

{% block class_definition %}
/**
 * Portfolio controller.
 *
 * @ModuleDefinition(
 *      name="{{ entity }}",
 *      description="Allows for creation and management of {{ entity | lower }} items",
 *      bundleName="{{ bundle }}",
 *      bundleClassPath="{{ namespace }}\",
 *      entityName="{{ entity }}",
 *      adminControllerName="{{ entity }}Admin",
 *      adminControllerRoute="admin_{{ entity | lower }}",
 *      requiredRole="{{ permission }}",
 *      menuLevel=0
 * )
 *
 * @AdminPrivilegeDefinition(
 *  role="{{ permission }}",
 *  name="Page {{ entity }} Admin",
 *  description="Can manage {{ entity | lower }} items"
 * )
 *
 * @Route("/{{ entity | lower }}", name="{{ route_name_prefix }}"))
 */
class {{ entity_class }}AdminController extends Controller
{% endblock class_definition %}
{
{% block class_body %}
    {%- if 'index' in actions %}
        {%- include 'crud/actions/index.php.twig' %}
        {%- include 'crud/actions/list.php.twig' %}
    {%- endif %}

    {%- if 'new' in actions %}
        {%- include 'crud/actions/new.php.twig' %}
        {%- include 'crud/actions/create.php.twig' %}
    {%- endif %}

    {%- if 'show' in actions %}
        {%- include 'crud/actions/toggle.php.twig' %}
    {%- endif %}

    {%- if 'edit' in actions %}
        {%- include 'crud/actions/edit.php.twig' %}
        {%- include 'crud/actions/update.php.twig' %}
        {%- include 'crud/actions/toggle.php.twig' %}
    {%- endif %}

    {%- if 'delete' in actions %}
        {%- include 'crud/actions/delete.php.twig' %}
    {%- endif %}
{% endblock class_body %}
}
