{% extends 'DLAdminBundle::layout.html.twig' %}

{% set heading='Your Profile' %}
{% set subheading='Edit and update your details as required' %}

{% block body %}
<form action="{{ path('admin_user_profile') }}" method="post" {{ form_enctype(form) }}  novalidate="novalidate">
{% form_theme form 'DLAdminBundle:Form:form_div_layout.html.twig' %}
	<div class="row-fluid">
		<div class="span12">
			<fieldset>
				<h3>Your Details</h3>
			    {{ form_row(form.username) }}
			    {{ form_row(form.email) }}
			    {{ form_row(form.fullName) }}
			    {{ form_row(form.mobile) }}
			</fieldset>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<fieldset class="fieldset-user">
				<h3>Password</h3>
                <p class="help-block">If you wish you change your password, enter the new password below.</p>
			    {{ form_row(form.password) }}
			</fieldset>
		</div>
	</div>
    <div class="formRow buttonRow">
        <div class="formQuestion"></div>
        <div class="formAnswer">
            <button type="submit" class="new btn green">
                <span>Update</span>
                <img alt="edit" class="icon" src="{{ asset('bundles/dladmin/img/vendor/fugue/icons/disk-black.png') }}">
            </button>
        </div>
    </div>

{{ form_rest(form) }}
</form>

{% endblock %}
