{% extends 'DLAdminBundle::layout.html.twig' %}

{% block buttons %}
{% endblock %}

{% block body %}
<table class="table table-striped">
    <thead>
        <tr class="table-header">
            <th>Username</th>
            <th>Component</th>
            <th>Data</th>
            <th>IP Address</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
{% if pagination|length > 0 %}
    {% for entity in pagination %}
        <tr>
            <td>{{ entity.username }}</td>
            <td>{{ entity.component }}</td>
            <td>{{ entity.data }}</td>
            <td>{{ entity.ipaddress }}</td>
            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i') }}{% endif %}</td>
        </tr>
    {% endfor %}

{% else %}
        <tr>
            <td colspan="10">No entries currently exist.</td>
        </tr>
{% endif %}
    </tbody>
</table>

{{ pagination.render() |raw }}

{% endblock %}
