
	/* ==========================================================================
	   Button Variables
	   ========================================================================== */
		
		$btnFontSize:			$fontSize - 2;
		$btnRadius:				$formControlRadius;
		
		$btnColor1:					#F7F7F7;
		$btnColor2:					#DCE2E5;
		$btnBorder:					#BECCD3;
		
		$btnSecondaryColor1:		lighten( $secondaryColor , 10% );
		$btnSecondaryColor2:		darken( $secondaryColor, 5% );
		$btnSecondaryBorder:		darken( $secondaryColor , 25% );
		
		$btnBlueColor1:			lighten( $blueColor, 10% );
		$btnBlueColor2:			darken( $blueColor, 5% );
		$btnBlueBorder:			#118cbd;
		
		$btnRedColor1:			lighten( $redColor , 10% );
		$btnRedColor2:			darken( $redColor , 10% );
		$btnRedBorder:			darken( $redColor , 25% );
		
		$btnPinkColor1:			lighten( $pinkColor , 5% );
		$btnPinkColor2:			darken( $pinkColor , 15% );
		$btnPinkColorBorder:	darken( $pinkColor , 25% );
		
		$btnPurpleColor1:			lighten( $purpleColor , 5% );
		$btnPurpleColor2:			darken( $purpleColor , 15% );
		$btnPurpleColorBorder:		darken( $purpleColor , 25% );
		
		$btnOrangeColor1:			lighten( $orangeColor , 15% );
		$btnOrangeColor2:			darken( $orangeColor , 5% );
		$btnOrangeColorBorder:		darken( $orangeColor , 15% );
		
		$btnYellowColor1:			lighten( $yellowColor , 10% );
		$btnYellowColor2:			darken( $yellowColor , 5% );
		$btnYellowColorBorder:		darken( $yellowColor , 15% );
		
		$btnGreenColor1:			lighten( $greenColor , 5% );
		$btnGreenColor2:			darken( $greenColor , 5% );
		$btnGreenColorBorder:		darken( $greenColor , 3% );
		
		$btnDarkColor1:			lighten( $darkColor , 15% );
		$btnDarkColor2:			darken( $darkColor , 5% );
		$btnDarkColorBorder:	darken( $darkColor , 5% );
		
		

	/* ==========================================================================
	   Button Mixins
	   ========================================================================== */

		@mixin btnGradient( $color1 , $color2 ) {
			
			$color:  mix( $color1, $color2, 100% );
			
			background-color: $color;
			background-repeat:repeat-x;
			
			background-image:-webkit-gradient(linear, 0 0, 0 100%, from($color1), to($color2));
			background-image:-webkit-linear-gradient(top, $color1, $color2);
			   background-image:-moz-linear-gradient(top, $color1, $color2);
			    background-image:-ms-linear-gradient(top, $color1, $color2);
			     background-image:-o-linear-gradient(top, $color1, $color2);
			        background-image:linear-gradient(to bottom, $color1, $color2);
					
			
		}
		
		@mixin makeBtn( $color1 , $color2, $color3 ) { 
		
			@include btnGradient( $color1, $color2 );
			text-shadow: 0 -1px 1px darken( $color3, 8% );
						
			&:hover {
			
				@include btnGradient( darken( $color1, 3% ), darken( $color2, 3% ) );
				border-color: darken( $color3, 3% );
				
			}
			&:active,
			&.active { background-color: $color2; }
			&.disabled,
			&[disabled] {  background-color: $color2; }

		}

	/* ==========================================================================
	   Button Styles
	   ========================================================================== */


		
		
		
		.btn .caret 			{ margin-left: 5px; }
		.btn img:first-child 	{ margin-right: 5px; }
		.btn img:last-child 	{ margin-left: 5px; }
		
.lt-ie9 .btn img { max-width: none; }
		
		
		
		
		.btn { 
		
			font-weight: 600; font-size: $btnFontSize; font-family: $sans;
			border-radius: $btnRadius;
			box-shadow: 0 1px 0px rgba(255, 255, 255, 0.4) inset;
			
			@include makeBtn( $btnColor1, $btnColor2, $btnBorder ); 
			text-shadow: 0 1px 1px #fff;
			
			/* to make buttons sit in line with inputs, removed in media query. */
			vertical-align: top;
			
			&:hover { background-position: 0 0; }
			&:active,
			&.active { background-image: none; box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05); }
			&.disabled,
			&[disabled] { cursor: default; background-image: none; opacity: 0.65; filter: alpha(opacity=65); box-shadow: none; }
			
		}
		
		
		.btn.large { font-size: 1em; padding: 0.4em 1.2em 0.6em; font-weight: 400; }
		
		
		.table .btn { padding: 2px 7px; margin: 0 0 0 5px; }
		
		/* Unfortunately, because of Bootstrap this menu has to be in Pixels.
			Just remember to change it if you update font size. */
		.btn-group > .btn, 
		.btn-group > .dropdown-menu { font-size: $btnFontSize; }
		
		.btn-group > .btn:first-child { border-top-left-radius:$btnRadius; border-bottom-left-radius:$btnRadius; }
		.btn-group > .btn:last-child,
		.btn-group > .dropdown-toggle { border-top-right-radius:$btnRadius; border-bottom-right-radius:$btnRadius; }		
		
		
		
		.btn.alt,
		.btn-group.open .btn.alt.dropdown-toggle { 
			@include makeBtn( $btnSecondaryColor1, $btnSecondaryColor2, $btnSecondaryBorder ); 
		}
					
		.btn.blue,
		.btn-group.open .btn.blue.dropdown-toggle { 
			@include makeBtn( $btnBlueColor1, $btnBlueColor2, $btnBlueBorder ); 
		}

		.btn.red,
		.btn-group.open .btn.red.dropdown-toggle { 
			@include makeBtn( $btnRedColor1, $btnRedColor2, $btnRedBorder ); 
		}

		.btn.pink,
		.btn-group.open .btn.pink.dropdown-toggle { 
			@include makeBtn( $btnPinkColor1, $btnPinkColor2, $btnPinkColorBorder ); 
		}

		.btn.purple,
		.btn-group.open .btn.purple.dropdown-toggle { 
			@include makeBtn( $btnPurpleColor1, $btnPurpleColor2, $btnPurpleColorBorder ); 
		}

		.btn.orange,
		.btn-group.open .btn.orange.dropdown-toggle { 
			@include makeBtn( $btnOrangeColor1, $btnOrangeColor2, $btnOrangeColorBorder ); 
		}

		.btn.yellow,
		.btn-group.open .btn.yellow.dropdown-toggle { 
			@include makeBtn( $btnYellowColor1, $btnYellowColor2, $btnYellowColorBorder ); 
		}

		.btn.green,
		.btn-group.open .btn.green.dropdown-toggle { 
			@include makeBtn( $btnGreenColor1, $btnGreenColor2, $btnGreenColorBorder ); 
		}
		
		.btn.dark,
		.btn-group.open .btn.dark.dropdown-toggle { 
			@include makeBtn( $btnDarkColor1, $btnDarkColor2, $btnDarkColorBorder ); 
		}

		
		.btn.alt,
		.btn.blue,
		.btn.red,
		.btn.pink,
		.btn.purple,
		.btn.orange,
		.btn.yellow,
		.btn.green,
		.btn.dark {
			color: white;
			.caret 	{ border-top-color: white; }
		}
		
		
		
		
		
		
	@media (max-width: 480px) {

	}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
