
		

	/* ==========================================================================
	   Form Variables
	   ========================================================================== */
		
		$questionWidth: 			200px;
		$answerWidth:				300px;
		
		$formControlRadius:			3px;
		
		$row:						formRow;
		$question:					formQuestion;
		$answer:					formAnswer;
		
		$inputBorder:				#BFBDB9;
		$inputColor:				#555;
		
		$formInputActiveColor:		$hintColor;
		
		$formInnerShadow:			0 1px 1px rgba(0, 0, 0, 0.125) inset;
		$formOuterShadow:			0 0 8px transparentize($hintColor, 0.6);


	/* ==========================================================================
	   Form Mixins
	   ========================================================================== */

		@mixin formSize( $MaxWidth: 306px ) {
			
			textarea, 
			input[type="text"], input[type="password"], 
			input[type="datetime"], input[type="datetime-local"], input[type="date"], 
			input[type="month"], input[type="time"], input[type="week"], 
			input[type="number"], 
			input[type="email"], input[type="url"], 
			input[type="search"], input[type="tel"], 
			input[type="color"], 
			.uneditable-input { 
			
				width: $MaxWidth; margin-right: 5px;
				
				&.medium 	{ width: $MaxWidth - 100; }
				&.small 	{ width: $MaxWidth - 180; }
				&.mini 		{ width: $MaxWidth - 220; }
				
			}
			
			select { 
			
				width: $MaxWidth + 14; margin-right: 5px;
				
				&.medium 	{ width: $MaxWidth - 100 + 14; }
				&.small 	{ width: $MaxWidth - 180 + 14; }
				&.mini 		{ width: $MaxWidth - 220 + 14; }
				
			}
			
			.select2-container {
				
				width: $MaxWidth + 14; margin-right: 5px;
				
				&.medium 	{ width: $MaxWidth - 100 + 14; }
				&.small 	{ width: $MaxWidth - 180 + 14; }
				&.mini 		{ width: $MaxWidth - 220 + 14; }
				
			}
			
			
			input[type="radio"], input[type="checkbox"] {
				
				margin: -1px 5px 0 0;
					
			}
			
			input[type="password"] {
			
				font-family: Arial, Helvetica, sans-serif;
			
			}
			
			
			select, textarea, .select2-container,
			input[type="text"], input[type="password"], 
			input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"],
			 input[type="number"], 
			input[type="email"], input[type="url"], 
			input[type="search"], input[type="tel"], 
			input[type="color"], 
			.uneditable-input {
				
				margin-bottom: 4px;	
				color: $inputColor;
				border-radius: $formControlRadius;
				
			}
			
			select, textarea, 
			.select2-container .select2-choice, 
			.select2-container .select2-choices, 
			.select2-drop,
			input[type="text"], input[type="password"], 
			input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"],
			 input[type="number"], 
			input[type="email"], input[type="url"], 
			input[type="search"], input[type="tel"], 
			input[type="color"], 
			.uneditable-input {

				border: 1px solid $inputBorder;
				box-shadow: $formInnerShadow;
				
				@include transition( border 0.4s ease );
				
				
				
				&:hover	{ 
					border-color: $formInputActiveColor; 
				}
				
				&:focus { 
					border-color: $formInputActiveColor; 
					box-shadow: $formOuterShadow , $formInnerShadow;
				}
				
			}
			
			.input-append, 
			.input-prepend { display: inline-block; *display: inline; *zoom: 1; vertical-align: top; margin: 0; font-size: 1em; }
			
			.input-append .add-on, 
			.input-prepend .add-on { margin: 0 -1px 0; }
			
			.input-append .add-on .icn, 
			.input-prepend .add-on .icn { margin-top:2px; }
			
			
			input.search { 
				border-radius: 20px; padding-left: 15px;
				background-image: url('../#{$imgPath}/${iconPath}/magnifier.png'); 
				background-repeat: no-repeat; background-position: 95% center; 
			}
			
		
		}

	/* ==========================================================================
	   Form Styles
	   ========================================================================== */
		

		
		.#{$row} 				{ clear: both; margin-bottom: 5px; }
		.#{$row}.buttonRow 		{ clear: both; padding: 10px 0; background: transparent; margin-top: 30px; border-top: 1px solid #BBB; }
		
		.#{$row} .#{$question},
		.#{$row} .#{$answer} 		{ display: inline-block; *display: inline; *zoom: 1; vertical-align: top; }
		
		.#{$row} .#{$question} 	{ max-width: 200px; width: 30%; text-align: right; margin: 5px 10px 0 0; }
		.#{$row} .#{$answer} 		{ width: 60%; } 
		
		
		.#{$row}.text,
		.#{$row}.text .#{$question},
		.#{$row}.text .#{$answer} 		{ margin: 0; }
		.#{$row}.text .#{$question}		{ margin-right: 10px; }
		
		.#{$row}.margin.top  	{ margin-top: 20px; }
		.#{$row}.margin.bottom 	{ margin-bottom: 20px; }
		
		
		
		
		
		form h3 { margin: 40px 0 30px; border-bottom: 1px solid #DDD; }
		form h4 { margin-top: 40px; }
		
		label { display: inline-block; *display: inline; *zoom: 1; margin-top: 5px; }
		.#{$row} .#{$question} label { margin: 0; }
			
		
		
	
	   /* CK Editor Styles
	   ========================================================================== */
		
		form {
			
			[class^=cke_] {
				
				&.cke_top { border-bottom: 3px solid $hintColor; }
				&.cke_top, &.cke_bottom { background: #f6f6f6; }
				
				&.cke_chrome { margin-bottom: 4px; }
				&.cke_chrome, &.cke_inner, &.cke_top { border-radius: $formControlRadius $formControlRadius 0 0; }
				&.cke_chrome, &.cke_inner, &.cke_bottom { border-bottom-left-radius: $formControlRadius; border-bottom-right-radius: $formControlRadius; }
				
			}
			
		}
		
	   /* Datepicker Styles
	   ========================================================================== */
 
 		.ui-datepicker-trigger { 
			position: absolute;
			margin-left: -34px;
			margin-top: 2px;
			width: 16px;
			padding: 5px;
			cursor: pointer; 
		}
				
				
				
				
		
		.form-actions.above-table { 
			background: $fadedColor;
			border-radius: $formControlRadius;
			margin: 10px 0;
			padding: 20px 20px 14px;
			min-height: 30px;
		}
		
		
		
		@include formSize();
		
		
	/* Meta Data Styles 
		========================================================================= */

	.meta_data_column input[type="text"] {
	}
	
	.meta_data_row {
		float:left;
	}
	.meta_data_column  {
		float:left;
	}

    /* Collection Styles
        ========================================================================= */
    .dl-collection {
        background-color: #F7F7F7;
        border: 1px solid #E3E3E3;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
        margin-bottom: 5px;
        min-height: 5px;
        padding: 20px;
    }

    .dl-collection-container {
        margin-bottom: 20px;
    }

    .dl-collection .formQuestion {
        width:40px;
        text-align:left;
    }
    
    .dl-collection .formAnswer {
        width:100%;
    }

    .collection-add-button  {
        margin-right: 10px;
    }

	/* ==========================================================================
	   Form Media Queries
	   ========================================================================== */

	@media (max-width: 979px) {
		
		@include formSize( 256px );
		
	}
	
	@media (max-width: 767px) {
		
		.#{$row}.buttonRow 		{ padding: 10px; }

		.#{$row} .#{$question},
		.#{$row} .#{$answer} 		{ display: block; }
		
		.#{$row} .#{$question} 	{ width: auto; text-align: left; margin: 0 0 2px; }
		.#{$row} .#{$answer} 		{ width: auto; }

		.#{$row} .#{$question} label { margin-top: 10px; }

	}
	
	@media (max-width: 480px) {
		
		
		textarea, 
		input[type="text"], input[type="password"], 
		input[type="datetime"], input[type="datetime-local"], input[type="date"], 
		input[type="month"], input[type="time"], input[type="week"], 
		input[type="number"], 
		input[type="email"], input[type="url"], 
		input[type="search"], input[type="tel"], 
		input[type="color"], 
		.uneditable-input { 
			 width: 95%!important; 
		}
		select{ 
			width: 98%!important; 
		}
		.select2-container {
			width: 100%!important; 
		}

		.ui-datepicker-trigger { display: none; }

	}
	
	
	
	
	
	
	
	
	
	
