
	/* ==========================================================================
	   ASM Select Variables
	   ========================================================================== */

		$widgetPadding:				10px 15px;
		$widgetBackground:			#FDFDFD;

		$widgetBorder:				1px solid $secondaryColor;
		$widgetBorderHint:			3px solid $hintColor;

		$widgetBorderRadius:		4px;
		$widgetBoxShadow:			0 8px 40px -14px $darkColor;

		$widgetHeaderPadding:		5px 10px;
		$widgetHeaderColor:			$secondaryColor;

		$widgetOverlayColor:		#eee;



    .asmList .asmListItem {
        border: 		$widgetBorder;
        padding:        10px;
        margin:         10px 15px;
        box-shadow: 	0 8px 40px -14px $darkColor;
        border-radius: 	$widgetBorderRadius;
        background: 	$widgetBackground;

        a { margin:     5px; }

    }
