



	
	/* ==========================================================================
	   qTip Variables
	   ========================================================================== */

				


	/* ==========================================================================
	   qTip Mixins
	   ========================================================================== */



	/* ==========================================================================
	   qTip Styles
	   ========================================================================== */



		/* Core qTip styles */
		.qtip, .qtip{
			
			position: absolute;
			left: -28000px;
			top: -28000px;
			display: none;
		
			max-width: 300px;
			min-width: 70px;
			
			font-size: 11px;
			line-height: 12px;
		
			direction: ltr;
			
			@include widget;
			border-bottom: $widgetBorderHint;
			
		}
		
		



	.qtip-content{
		
		position: 	relative;
		overflow: 	hidden;

		text-align: left;
		word-wrap: break-word;
		
		padding:	$widgetPadding;
		
	}

	.qtip-titlebar{
		
		position: 	relative;
		overflow:	hidden;
		font-weight: bold;
		
		@include widgetHeader;
		
	}

	.qtip-titlebar + .qtip-content{ border-top-width: 0 !important; }

	/* Default close button class */
	.qtip-close{
		position: absolute;
		right: -9px; top: -9px;

		cursor: pointer;
		outline: medium none;

		border-width: 1px;
		border-style: solid;
		border-color: transparent;
	}

		.qtip-titlebar .qtip-close{
			right: 4px; top: 50%;
			margin-top: -9px;
		}
	
		* html .qtip-titlebar .qtip-close{ top: 16px; } /* IE fix */

		.qtip-titlebar .ui-icon,
		.qtip-icon .ui-icon{
			display: block;
			text-indent: -1000em;
			direction: ltr;
			vertical-align: middle;
		}

		.qtip-icon, .qtip-icon .ui-icon{
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			text-decoration: none;
		}

			.qtip-icon .ui-icon{
				width: 18px;
				height: 14px;

				text-align: center;
				text-indent: 0;
				font: normal bold 10px/13px Tahoma,sans-serif;

				color: inherit;
				background: transparent none no-repeat -100em -100em;
			}


	/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
	.qtip-focus{}
	
	/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
	.qtip-hover{}




	/* Tips plugin */
	.qtip .qtip-tip{
		margin: 0 auto;
		overflow: hidden;
		z-index: 10;
	}
	
		.qtip .qtip-tip,
		.qtip .qtip-tip .qtip-vml{
			position: absolute;
	
			color: #123456;
			background: transparent;
			border: 0 dashed transparent;
		}
	
		
		.qtip .qtip-tip canvas{ top: 0; left: 0; }
	
		.qtip .qtip-tip .qtip-vml{
			behavior: url(#default#VML);
			display: inline-block;
			visibility: visible;
		}
		
		
		
	/* Modal plugin */
	#qtip-overlay{
		position: fixed;
		left: -10000em;
		top: -10000em;
	}
	
		/* Applied to modals with show.modal.blur set to true */
		#qtip-overlay.blurs{ cursor: pointer; }
	
		/* Change opacity of overlay here */
		#qtip-overlay div{
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
	
			background-color: black;
	
			opacity: 0.7;
			filter:alpha(opacity=70);
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		}
		
		
		
		
		
		
		
		
		
		
		
		
		
	/* ==========================================================================
	   qTip Media Queries
	   ========================================================================== */

	
		@media (max-width: 480px) {


		
			.qtip, .qtip{
			
				position: fixed!important;
				left: -150px!important;
				bottom: 20px!important; top: auto!important;
				display: none;
			
				width: 300px!important;
				max-width: 300px!important;
				margin-left: 50%;
				
			}

		}
		


