
	/* ==========================================================================
	   Universal Fonts
	   ========================================================================== */


		@font-face {
		  font-family: 'entypo';
		  src: url("../font/entypo/entypo.eot");
		  src: url("../font/entypo/entypo.eot?#iefix") format('embedded-opentype'),
		  		url("../font/entypo/entypo.woff") format('woff'),
				url("../font/entypo/entypo.ttf") format('truetype'),
				url("../font/entypo/entypo.svg#entypo") format('svg');
		  font-weight: normal;
		  font-style: normal;
		}


	/* ==========================================================================
	   Universal Variables
	   ========================================================================== */

		$fontSize:		14px; /* setting this to relative size kills IE9 ? */

		$blueColor: 	#12A1DA;
		$redColor: 		#E0362D;
		$orangeColor: 	#FF7B00;
		$yellowColor: 	#E5CE19;
		$greenColor: 	#61C900;
		$purpleColor: 	#9B3AC1;
		$pinkColor:		#F062B2;
		$darkColor:		#0B1D26;
		$greyColor:		#888888;



		/* 	Primary Color - mainly for navigation */
		$primaryColor: 			#705f50; /*$blueColor;*/ /*#59aab5;*/

		/* 	Secondary Color -  for embellishments such as table head, borders, etc. */
		$secondaryColor: 		#696969;

		/* 	Hint Color - Provides coloring for all hints/highlights/widgets across site */
		$hintColor: 			#846e57;

		/* 	Faded Color - Provides coloring for non-important things such as dashboard bg, form buttons above tables */
		$fadedColor:			#eaede6;


		$sans:	 	'Open Sans',Helvetica,Arial,sans-serif;
		$serif: 	'Droid Serif',Georgia,serif;


		/* 	Image paths - Shouldn't need changing. */
		$imgPath: 	"/bundles/dladmin/img";
		$iconPath: 	"vendor/fugue/icons";





	/* ==========================================================================
	   Universal Mixins
	   ========================================================================== */



		@mixin gradient( $color1, $color2 ) {

			$middle: mix( $color1, $color2, 100% );

			background: $middle; /* Old browsers */
		    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
			background: 	-moz-linear-gradient(top,  $color1 0%, $color2 100%); /* FF3.6+ */
	     	background:  -webkit-linear-gradient(top,  $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
		  	background: 	  -o-linear-gradient(top,  $color1 0%,$color2 100%); /* Opera 11.10+ */
		 	background: 	 -ms-linear-gradient(top,  $color1 0%,$color2 100%); /* IE10+ */
	     	background:    linear-gradient(to bottom,  $color1 0%,$color2 100%); /* W3C */

		}


		@mixin transition($transition: 1s all ease) {
			-webkit-transition: $transition;
			-moz-transition:    $transition;
			-ms-transition:     $transition;
			-o-transition:      $transition;
			transition:     	$transition;
		}

		@mixin transform($transform) {
			-webkit-transform:	$transform;
			-moz-transform:		$transform;
			-ms-transform:		$transform;
			-o-transform:		$transform;
			transform:			$transform;
		}

		@mixin filter($filter) {
			-webkit-filter:	$filter;
			-moz-filter:	$filter;
			-ms-filter:		$filter;
			-o-filter:		$filter;
			filter:			$filter;
		}



	/* ==========================================================================
	   Universal Styles
	   ========================================================================== */



		.text {
			&.red { color: $redColor; }
			&.blue { color: $blueColor; }
			&.yellow { color: $yellowColor; }
			&.orange { color: $orangeColor; }
			&.purple { color: $purpleColor; }
			&.green { color: $greenColor; }
			&.pink { color: $pinkColor; }
			&.dark { color: $darkColor; }
			&.grey { color: $darkColor; }
		}

		.hidden { visibility: hidden!important; display: none!important; }


		::-moz-selection {
			background-color: $hintColor;
			color: #fff;
		}

		::selection {
			background-color: $hintColor;
			color: #fff;
		}

		a {

			color: $hintColor;

			&:hover {

				color: darken( $hintColor , 50% );

			}

		}




    /* ==========================================================================
	   Includes
	   ========================================================================== */

	/* ====[ vendor less files ]==== */

		@import "vendor/select2/3.3.1/select2";

	/* ====[ parts of the main interface ]==== */

		@import "shell/nav";
		@import "shell/header";
		@import "shell/footer";
		@import "shell/body";
		@import "shell/account-bar";
		@import "shell/login";

	/* ====[ Form controls ]==== */

		@import "components/forms/forms";
			@import "components/forms/checkbox";
			@import "components/forms/radio";
			@import "components/forms/buttons";
			@import "components/forms/select";
			@import "components/forms/favicon";

	/* ====[ components of the UI ]==== */

		@import "components/headings";
		@import "components/tables";
		@import "components/alerts";
		@import "components/dropdowns";
		@import "components/tabs";
		@import "components/pagination";
		@import "components/gallery";
		@import "components/badges";
		@import "components/spinners";
		@import "components/hr";
		@import "components/icons";
		@import "components/validation";

	/* ====[ UI widgets ]==== */

		@import "components/widgets/widgets";
			@import "components/widgets/datepicker";
			@import "components/widgets/dialog";
			@import "components/widgets/qtip";
			@import "components/widgets/slider";
			@import "components/widgets/progress";
			@import "components/widgets/asmselect";

	/* ====[ Miscellaneous blocks of content ]==== */

		@import "blocks/dashboard";
		@import "blocks/permissions";
		@import "blocks/background-image";
		@import "blocks/pages-table";
		@import "blocks/password-strength";

	/* ====[ Other ]==== */

		@import "vendor/animate/animate-custom";



