

	/* ==========================================================================
	   Navigation Shell Variables
	   ========================================================================== */
		
		$accountBarHeight:			36px;
		$accountBarBackground:		#555;
		$accountBarColor:			#eee;
		$accountBarHoverColor:		#333;
		$accountBarPadding:			3px 10px;
		


	/* ==========================================================================
	   Navigation Shell Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Navigation Shell Styles
	   ========================================================================== */

		.account-bar { 
			height: $accountBarHeight; line-height: $accountBarHeight; 
			background: $accountBarBackground;
			padding: $accountBarPadding;
		}
		
		.account-bar .dropdown {
			
			
			.dropdown-menu {
				
				display: block;
				
				@include transition(0.5s all ease);
				@include transform( translateX(-200%) );
			 	box-shadow: none; margin-top: 5px;
				
				&:before {
					content: '';
					display: inline-block;
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-bottom: 7px solid #CCC;
					border-bottom-color: rgba(0, 0, 0, 0.2);
					position: absolute;
					top: -7px;
					left: 9px;	
				}
				&:after {
					content:'';
					display:inline-block;
					border-left:6px solid transparent;
					border-right:6px solid transparent;
					border-bottom:6px solid #ffffff;
					position:absolute;
					top:-6px;
					left:10px;
				}
				
			}
			
			&.open {
				
				.dropdown-menu { 
					box-shadow: 0 5px 12px rgba(0,0,0,0.4);
					@include transform( translateX(0) ); 
				}
					
			}
			
		}
		
		.account-bar .nav > .item:last-child { float: right; }

		
		.account-bar .nav > .item > a { color: $accountBarColor; }
		.account-bar .nav > .item > a > .caret { border-top-color: $accountBarColor; border-bottom-color: $accountBarColor; }


		.account-bar .nav > .item > a:hover { color: $accountBarHoverColor; }
		.account-bar .nav > .item > a:hover > .caret { border-top-color: $accountBarHoverColor; border-bottom-color: $accountBarHoverColor; }




.lt-ie9 .account-bar .dropdown .dropdown-menu { left: -200%; }
.lt-ie9 .account-bar .dropdown .dropdown-menu.open { left: 0; }


		@import "shell/account-bar-icons";






