




	/* ==========================================================================
	   The Icons for the Dropdown Menu Items
	   ========================================================================== */
		
		.account-bar .item[class*=icn-] a .text 	{ background-repeat: no-repeat; background-position: 0 0; padding-left: 23px; }
		
		.account-bar > .nav > .item.icn-user > a > .text 	{ background-image: url('#{$imgPath}/#{$iconPath}/user.png'); }
		.account-bar > .nav > .item.icn-logout > a > .text 	{ background-image: url('#{$imgPath}/#{$iconPath}/lock-warning.png'); }
		
			.account-bar .icn-options a > .text 			{ background-image: url('#{$imgPath}/#{$iconPath}/wrench.png'); }
			.account-bar .icn-help a > .text 				{ background-image: url('#{$imgPath}/#{$iconPath}/lifebuoy.png'); }
			.account-bar .icn-tour a > .text 				{ background-image: url('#{$imgPath}/#{$iconPath}/application-blog.png'); }

