

	/* ==========================================================================
	   Body Shell Variables
	   ========================================================================== */
		
		$bodyMargin:				$navWidth;
		$bodyPadding:				20px 20px 50px;
		
		$bodyMinWidth:				360px;
		
		

	/* ==========================================================================
	   Body Shell Styles
	   ========================================================================== */
		
		
		html, body, .body, #container { position: relative; }
		
		.content 	{ margin: 0 0 0 $bodyMargin; padding: $bodyPadding; }
		
		body { font-size: $fontSize; }
		
		#container.blur { 

			@include filter( blur(3px)); 
			@include transition( all 2s ease ); 

		}
		
				
		
		
@media (max-width: 767px) {


		.body, body { margin: 0; padding: 0; }
		.content 	{ margin: 0 0 0 $navCollapsedWidth; }
		
}

@media (max-width: 480px) {
	
		.body, body { min-width: $bodyMinWidth; }	
	
}
		
		
		
		
		
		
		
