		

	/* ==========================================================================
	   Login Shell Variables
	   ========================================================================== */
		
		$loginWidth:						550px;
		
		$loginBackgroundColor:				lighten( $secondaryColor , 20% );
		
		$loginPanelColor:					#fefefe;
		$loginPanelRadius:					10px;


	/* ==========================================================================
	   Login Shell Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Login Shell Styles
	   ========================================================================== */

		
		body.admin_login,
		body.admin_password_reset {
			background: $loginBackgroundColor;	
		}
		
		.login-form { 
			width: $loginWidth; margin: 50px auto;
			border-radius: $loginPanelRadius; background-color: $loginPanelColor;
			box-shadow: 0 2px 4px rgba(0,0,0,0.2);
		}
		
		.login-form .fields { padding: 50px 0 40px; }
		.login-form form { margin: 0; padding: 20px; }
		
		.login-form .page-header,
		.login-form .page-header h2 { margin-top: 0; }
		
		
		.btn.large.login { width: 17.7em; }
		
		.remember-me { margin: 0; min-height: none; }
		.remember-me input[type=checkbox] { margin: 4px 5px 0 -20px; }
		
		
		
		
	/* ==========================================================================
	   Nav Media Queries
	   ========================================================================== */

	@media (max-width: 767px) {

		
		
	}		
		
		
		
		
		
		
		
		
		
		
