




	/* ==========================================================================
	   The Icons for the Generic Menu Items
	   ========================================================================== */

		nav .item[class*=icn-] a .text 							{ 

			background-repeat: no-repeat; 
			background-position: 0px 1px; 
			padding-left: 25px; 
			min-height: 20px; 
			display: block; 

		}


		nav .item.icn-home > a > .text 							{ background-image: url('#{$imgPath}/#{$iconPath}/home.png'); }
		nav .item.icn-pages > a > .text 						{ background-image: url('#{$imgPath}/#{$iconPath}/documents-stack.png'); }
		nav .item.icn-users > a > .text 						{ background-image: url('#{$imgPath}/#{$iconPath}/users.png'); }
			nav .subitem.icn-users-add > a > .text 				{ background-image: url('#{$imgPath}/#{$iconPath}/user-silhouette.png'); }
			nav .subitem.icn-users-manage > a > .text 			{ background-image: url('#{$imgPath}/#{$iconPath}/user-worker-boss.png'); }
		nav .item.icn-logs > a > .text 							{ background-image: url('#{$imgPath}/#{$iconPath}/book-open-list.png'); }


	/* ==========================================================================
	   The Icons for specific modules
	   ========================================================================== */

		nav .item.icn-news-articles > a > .text 					{ background-image: url('#{$imgPath}/#{$iconPath}/newspapers.png'); }
			nav .subitem.icn-news-articles-new > a > .text 			{ background-image: url('#{$imgPath}/#{$iconPath}/newspaper--plus.png'); }
			nav .subitem.icn-news-articles-list > a > .text 		{ background-image: url('#{$imgPath}/#{$iconPath}/ui-menu-blue.png'); }

		nav .item.icn-competitions > a > .text						{ background-image: url('#{$imgPath}/#{$iconPath}/medal-red.png'); }
			nav .subitem.icn-competitions-new > a > .text 			{ background-image: url('#{$imgPath}/#{$iconPath}/medal--plus.png'); }
			nav .subitem.icn-competitions-list > a > .text 			{ background-image: url('#{$imgPath}/#{$iconPath}/ui-menu-blue.png'); }

		nav .item.icn-events > a > .text							{ background-image: url('#{$imgPath}/#{$iconPath}/ticket.png'); }
			nav .subitem.icn-events-new > a > .text 				{ background-image: url('#{$imgPath}/#{$iconPath}/ticket--plus.png'); }
			nav .subitem.icn-events-list > a > .text 				{ background-image: url('#{$imgPath}/#{$iconPath}/ui-menu-blue.png'); }

        nav .item.icn-pbq-entries > a > .text                       { background-image: url('#{$imgPath}/#{$iconPath}/luggage-tag.png'); }

	/* ==========================================================================
	   The Icons for sub modules
	   ========================================================================== */

		nav .item.icn-modules > a > .text 							{ background-image: url('#{$imgPath}/#{$iconPath}/applications-blue.png'); }
		    nav .subitem.icn-faqs > a > .text						{ background-image: url('#{$imgPath}/#{$iconPath}/balloon.png'); }
			nav .subitem.icn-team-profiles > a > .text  			{ background-image: url('#{$imgPath}/#{$iconPath}/folder-stamp.png'); }
			nav .subitem.icn-cocktails > a > .text  				{ background-image: url('#{$imgPath}/#{$iconPath}/glass-wide.png'); }
			nav .subitem.icn-peculiar-past > a > .text  			{ background-image: url('#{$imgPath}/#{$iconPath}/clock-moon-phase.png'); }
			nav .subitem.icn-golden--questions > a > .text  		{ background-image: url('#{$imgPath}/#{$iconPath}/trophy.png'); }
			nav .subitem.icn-golden-questions > a > .text  		{ background-image: url('#{$imgPath}/#{$iconPath}/trophy.png'); }
			nav .subitem.icn-newsletter-subscribers > a > .text  	{ background-image: url('#{$imgPath}/#{$iconPath}/scripts.png'); }
			nav .subitem.icn-gallery > a > .text					{ background-image: url('#{$imgPath}/#{$iconPath}/photo-album.png'); }
			nav .subitem.icn-translations > a > .text				{ background-image: url('#{$imgPath}/#{$iconPath}/edit-language.png'); }
			nav .subitem.icn-dinner-menu > a > .text 				{ background-image: url('#{$imgPath}/#{$iconPath}/plate-cutlery.png'); }
			nav .subitem.icn-teapot-orders  > a > .text 			{ background-image: url('#{$imgPath}/#{$iconPath}/cup-tea.png'); }
