		

	/* ==========================================================================
	   Navigation Shell Variables
	   ========================================================================== */
		
		$navWidth:							230px;
		$navCollapsedWidth:					38px;
		
		$navPrimaryColor:					$primaryColor;
		$navActiveColor:					darken($navPrimaryColor,10%);;
		$navBackground:						lighten( $primaryColor, 46% );
		
		$dividerHeight:						4px;
		
		$navSecondaryPadding:				10px;


	/* ==========================================================================
	   Navigation Shell Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Navigation Shell Styles
	   ========================================================================== */

		nav {
		
			width: $navWidth; 
			position: absolute; top: 0; left: 0;
			
			font-size: 0.9em;
			border-right: 1px solid #444; border-bottom: 1px solid #444;
			border-radius: 0 0 5px 0;
									
		}
		
		nav .logo { margin: 20px 20px; }
		nav .logo { text-align: center; }
		
		
		nav ul { margin: 0; background: $navBackground; box-shadow: -26px 0 21px -26px darken( $navBackground, 15% ) inset;  }
		nav ul .item { display: block; } 
		nav ul .item > a .text { text-shadow: 0 1px 1px black; }
		
		nav ul .item .icon { 
			position: relative; top: -1px; 
		}
		
		nav .divider { height: 1px; padding: $dividerHeight 1px; overflow: hidden; background: darken($navPrimaryColor,18%); }
		nav .item.active + .divider { background: transparent; }
		
		nav .item > a {
			
			color: white; text-decoration: none;
			
			display: block; position: relative;
			padding: 4px 5px 4px 18px;
			
			@include gradient( $navPrimaryColor, darken($navPrimaryColor,5%) );
			box-shadow: 0 -17px 12px -19px darken($navPrimaryColor, 10%) inset, -20px 0 28px -19px darken($navPrimaryColor, 15%) inset;
			
			border-top: 	1px solid lighten($navPrimaryColor, 20%);
			border-bottom: 	1px solid darken($navPrimaryColor, 25%);
			
			@include transition( padding 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000) );
			
			/* ========================================================================== */
			
			
			&:after {
				content: " ";
				width: 14px; height: 14px;
				position: absolute; right: 10px; top: 6px;
				background-image: url('#{$imgPath}/vendor/bootstrap/2.2.1/glyphicons-halflings-white.png');
				background-position: -313px -119px;
				opacity: 0.15; transition: all 0.4s ease;
			}
			
			&:hover:after { opacity: 0.7; }
			
			/* ========================================================================== */

			&:hover { 
				
				padding-left: 26px;
				
				background: darken($navPrimaryColor,3%); 
				border-bottom-color: transparent;
				border-top-color: transparent;
				
			}
		
		}
		
		nav .item.active > a {
			
			@include gradient( $navActiveColor, darken($navActiveColor,10%) );
			box-shadow: 0 -17px 12px -19px darken($navActiveColor, 10%) inset, -20px 0 28px -19px darken($navActiveColor, 15%) inset;
			
			border-top: 	1px solid lighten($navActiveColor, 10%);
			border-bottom: 	1px solid darken($navActiveColor, 25%);
			
			/* ========================================================================== */
			
			&:after {
				background-position: -288px -120px;
				opacity: 0.7;
			}
			
			/* ========================================================================== */

			&:hover { 
								
				background: darken($navActiveColor,8%); 

			}

		
		}
		
		nav .item.solo > a {
			&:after { background-position: -456px -72px; }	
		}
		
		
		
		
		nav .item .subitem > a {
			
			color: #444; text-decoration: none;
			
			display: block;
			padding: 4px 5px 4px 20px;
						
			@include transition( padding 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000) );
			
			/* ========================================================================== */
			
			&:hover { 
								
				color: white; 
				background: lighten( $navPrimaryColor, 5% ); 
				padding-left: 20px; border-radius: 3px;
				
			}
			
		}
		
		nav .sub { padding: $navSecondaryPadding; margin: 0; }
		
		
		
		
		@import "shell/nav-icons";
		
		
		
		
		
		
	/* ==========================================================================
	   Nav Media Queries
	   ========================================================================== */

	@media (max-width: 767px) {

		
		nav 			{ width: $navCollapsedWidth; padding: 10px 0 0; }
		nav, nav ul 	{ height: 100%; }
		nav .logo		{ display: none; }
		
		
		nav .item .text 	{ display: block; text-indent: -999em; }
		nav .item a 		{ padding: 4px 10px; }
		nav .item > a:after	{ background-image: none; }
		nav .item a:hover 	{ padding: 4px 10px; }
		nav .sub  			{ display: none!important; }
		
		nav .divider,
		nav .item.active + .divider { background: darken($navPrimaryColor,18%); }
		
	}		
		
		
		
		
		
		
		
		
		
		
