	{# -----[ Widgets ]----- #}
	{% block form_widget %}
	{% spaceless %}

		{% if compound %}
			{{ block('form_widget_compound') }}
		{% else %}
			{{ block('form_widget_simple') }}
		{% endif %}

	{% endspaceless %}
	{% endblock form_widget %}


    {% block dl_pagebundle_metadatacontainertype_widget %}
	    {% spaceless %}

    	{% if attr.expand != "no" %}
            <div class="formRow">
                <div class="formQuestion"><label>Show Meta Data Options</label></div>
                <div class="formAnswer"><button type="button" class="btn" data-toggle="collapse" data-target="#{{ id }}_holder">Expand <i class="icn mleft" data-icon="i-arrow-turn-270" data-alt-icon="i-arrow-turn-090-left"></i></button></div>
            </div>
            <div id="{{ id }}_holder" class="collapse">
		{% else %}
    		<div id="{{ id }}_holder" >
		{% endif %}

        {{ block('form_widget_compound') }}

    </div>
        {% endspaceless %}
	{% endblock %}

	{% block dl_pagebundle_metadatatype_widget %}
		<div class='meta_data_row' {{ block('widget_container_attributes') }}>
			{% if form.parent is empty %}
				{{ form_errors(form) }}
			{% endif %}
			{% for child in form %}

				<div class="meta_data_column">
					{{ form_widget(child) }}
					{{ form_errors(child) }}
				</div>

			{% endfor %}

			{{ block('form_rows') }}
			{{ form_rest(form) }}
		</div>
	{% endblock dl_pagebundle_metadatatype_widget %}

	{% block form_widget_simple %}
	{% spaceless %}

		{% set type = type|default('text') %}
        {% if type == 'file' %}

			<div class="address-bar"><i class="icn i-folder-horizontal-open"></i> <span class="filename">choose a file</span></div>
            <span href="#" class="btn file-input">
				Select File
				<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
			</span>

        {% else %}

    		<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
			{% for attrname, attrvalue in attr %}
				{% if attrname == 'paragraph' %}
				<br/>
				<small class="text">{{ attrvalue }}</small>
				{% endif %}
			{% endfor %}
		{% endif %}

	{% endspaceless %}
	{% endblock form_widget_simple %}



	{% block form_widget_compound %}
	{% spaceless %}

		<div {{ block('widget_container_attributes') }}>
			{% if form.parent is empty %}
				{{ form_errors(form) }}
			{% endif %}
			{{ block('form_rows') }}
			{{ form_rest(form) }}
		</div>

	{% endspaceless %}
	{% endblock form_widget_compound %}

{% block asmselect_widget %}
{% spaceless %}
    {% set extraConfigs = {
        '_id': id,
        'placeholder': configs.placeholder|trans({}, translation_domain),
    } %}
    <div class="asmselect">
    {{ form_widget(form, {'attr' : {'class':'asmSelectAdd'}}) }}
    <input type="hidden" class="asmselect_changed" value="" />

    {% if configs.allowAdd %}
        <p>
                <label for="add_city">Add</label>
                <input type="text" class="asmselect_add_value" value="" />
                <button type="button" class="btn btn-primary asmselect_add_btn" href="#">add</button>
        </p>
    {% endif %}
    </div>
{% endspaceless %}
{% endblock asmselect_widget %}



{% block form_metadata_widget %}
{% spaceless %}
{% set extra = {
    'id': id,
    'add_button_text': configs.add_button_text|trans({}, translation_domain),
    'remove_button_text': configs.remove_button_text|trans({}, translation_domain),
    'empty_text': configs.empty_text|trans({}, translation_domain),
} %}
<div id="dl-metadata-container-{{ id }}">
    {% for key, child in form %}
    <fieldset id="dl_filedset_{{ key }}" data-idx="{{ key }}" class="{{ configs.fieldset_class }}">
        {{ form_widget(child) }}
        <button class="{{ configs.remove_button_class }} dl-metadata-button-remove">{{ extra.remove_button_text }}</button>
    </fieldset>
    {% endfor %}
    <div id="dl-metadata-empty-text-{{ id }}" class="{{ configs.empty_text_class }}" {% if value is not empty %}style="display:none"{% endif %}>{{ extra.empty_text }}</div>
    <small style="display:none;">Un-ticking the checkbox stops other pages using this meta tag</small>
</div>
<button id="dl-metadata-button-add-{{ id }}" class="{{ configs.add_button_class }}">{{ extra.add_button_text }}</button>

<span id="{{ id }}" data-prototype="{{ form_widget(form.vars['prototype']) | e }}" data-options="{{ configs|merge(extra)|json_encode}}"
    class="dl-metadata_{{ id }}" style="display:none">
</span>
{% endspaceless %}
{% endblock form_metadata_widget %}


{% block form_collection_widget %}
{% spaceless %}
{% set extra = {
    'id': id,
    'add_button_text': configs.add_button_text|trans({}, translation_domain),
    'remove_button_text': configs.remove_button_text|trans({}, translation_domain),
    'empty_text': configs.empty_text|trans({}, translation_domain),
} %}
<div id="dl-collection-container-{{ id }}">
    {% for key, child in form %}
    <fieldset id="dl_fieldset_{{ key }}" data-idx="{{ key }}" class="{{ configs.fieldset_class }}">
        {{ form_widget(child) }}
        <button class="{{ configs.remove_button_class }} dl-collection-button-remove">{{ extra.remove_button_text }}</button>
    </fieldset>
    {% endfor %}
    <div id="dl-collection-empty-text-{{ id }}" class="{{ configs.empty_text_class }}" {% if value is not empty %}style="display:none"{% endif %}>{{ extra.empty_text }}</div>
</div>
<button id="dl-collection-button-add-{{ id }}" class="collection-add-button {{ configs.add_button_class }}">{{ extra.add_button_text }}</button>

{% if configs.use_prototype == true %}
<span id="{{ id }}" data-prototype="{{ form_widget(form.vars['prototype']) | e }}" data-options="{{ configs|merge(extra)|json_encode}}"
    class="dl-collection_{{ id }}" style="display:none">
</span>
{% endif %}
{% endspaceless %}
{% endblock form_collection_widget %}


	{% block collection_widget %}
	{% spaceless %}
		{% if prototype is defined %}
			{% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
		{% endif %}
		{{ block('form_widget') }}
	{% endspaceless %}
	{% endblock collection_widget %}

	{% block textarea_widget %}
	{% spaceless %}
		<textarea rows="6" {{ block('widget_attributes') }}>{{ value }}</textarea>
	{% endspaceless %}
	{% endblock textarea_widget %}

	{% block choice_widget %}
	{% spaceless %}
		{% if expanded %}
			{{ block('choice_widget_expanded') }}
		{% else %}
			{{ block('choice_widget_collapsed') }}
		{% endif %}
	{% endspaceless %}
	{% endblock choice_widget %}

	{% block choice_widget_expanded %}
	{% spaceless %}
		<div {{ block('widget_container_attributes') }}>
		{% for child in form %}
			{{ form_widget(child) }}
			{{ form_label(child) }}
		{% endfor %}
		</div>
	{% endspaceless %}
	{% endblock choice_widget_expanded %}

	{% block choice_widget_collapsed %}
	{% spaceless %}
		<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
			{% if empty_value is not none %}
				<option value="">{{ empty_value|trans({}, translation_domain) }}</option>
			{% endif %}
			{% if preferred_choices|length > 0 %}
				{% set options = preferred_choices %}
				{{ block('choice_widget_options') }}
				{% if choices|length > 0 and separator is not none %}
					<option disabled="disabled">{{ separator }}</option>
				{% endif %}
			{% endif %}
			{% set options = choices %}
			{{ block('choice_widget_options') }}
		</select>
	{% endspaceless %}
	{% endblock choice_widget_collapsed %}

	{% block choice_widget_options %}
	{% spaceless %}
		{% for group_label, choice in options %}
			{% if choice is iterable %}
				<optgroup label="{{ group_label|trans({}, translation_domain) }}">
					{% set options = choice %}
					{{ block('choice_widget_options') }}
				</optgroup>
			{% else %}
				<option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
			{% endif %}
		{% endfor %}
	{% endspaceless %}
	{% endblock choice_widget_options %}

	{% block checkbox_widget %}
	{% spaceless %}
		<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
	{% endspaceless %}
	{% endblock checkbox_widget %}

	{% block radio_widget %}
	{% spaceless %}
		<input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
	{% endspaceless %}
	{% endblock radio_widget %}

	{% block datetime_widget %}
	{% spaceless %}
		{% if widget == 'single_text' %}
			{{ block('form_widget_simple') }}
		{% else %}
			<div {{ block('widget_container_attributes') }}>
				{{ form_errors(form.date) }}
				{{ form_errors(form.time) }}
				{{ form_widget(form.date) }}
				{{ form_widget(form.time) }}
			</div>
		{% endif %}
	{% endspaceless %}
	{% endblock datetime_widget %}

	{% block date_widget %}
	{% spaceless %}
		{% if widget == 'single_text' %}
			{{ block('form_widget_simple') }}
		{% else %}
			<div {{ block('widget_container_attributes') }}>
				{{ date_pattern|replace({
					'{{ year }}':  form_widget(form.year),
					'{{ month }}': form_widget(form.month),
					'{{ day }}':   form_widget(form.day),
				})|raw }}
			</div>
		{% endif %}
	{% endspaceless %}
	{% endblock date_widget %}

	{% block time_widget %}
	{% spaceless %}
		{% if widget == 'single_text' %}
			{{ block('form_widget_simple') }}
		{% else %}
			<div {{ block('widget_container_attributes') }}>
				{{ form_widget(form.hour, { 'attr': { 'size': '1' } }) }}:{{ form_widget(form.minute, { 'attr': { 'size': '1' } }) }}{% if with_seconds %}:{{ form_widget(form.second, { 'attr': { 'size': '1' } }) }}{% endif %}
			</div>
		{% endif %}
	{% endspaceless %}
	{% endblock time_widget %}

	{% block number_widget %}
	{% spaceless %}
		{# type="number" doesn't work with floats #}
		{% set type = type|default('text') %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
	{% endblock number_widget %}

	{% block integer_widget %}
	{% spaceless %}
		{% set type = type|default('number') %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
	{% endblock integer_widget %}

	{% block money_widget %}
	{% spaceless %}
		{{ money_pattern|replace({ '{{ widget }}': block('form_widget_simple') })|raw }}
	{% endspaceless %}
	{% endblock money_widget %}

	{% block url_widget %}
	{% spaceless %}
		{% set type = type|default('url') %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
	{% endblock url_widget %}

	{% block search_widget %}
	{% spaceless %}
		{% set type = type|default('search') %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
	{% endblock search_widget %}

	{% block percent_widget %}
	{% spaceless %}
		{% set type = type|default('text') %}
		{{ block('form_widget_simple') }} %
	{% endspaceless %}
	{% endblock percent_widget %}

	{% block password_widget %}
	{% spaceless %}
		{% set type = type|default('password') %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
	{% endblock password_widget %}

	{% block hidden_widget %}
	{% spaceless %}
		{% set type = type|default('hidden') %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
	{% endblock hidden_widget %}

	{% block email_widget %}
	{% spaceless %}
		{% set type = type|default('email') %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
	{% endblock email_widget %}





	{% block keywords_widget %}
	{% spaceless %}
		{% set type = type|default('hidden') %}

		<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} placeholder="separated by commas (,)" class="tags" >

	{% endspaceless %}
	{% endblock keywords_widget %}




	{# -----[ Labels ]----- #}


		{% block form_label %}
		{% spaceless %}

			{% include 'DLAdminBundle::Form/form.label.snippet.twig' %}

		{% endspaceless %}
		{% endblock form_label %}




	{# -----[ Rows ]----- #}


		{% block repeated_row %}
		{% spaceless %}
			{#
			No need to render the errors here, as all errors are mapped
			to the first child (see RepeatedTypeValidatorExtension).
			#}
			{{ block('form_rows') }}
		{% endspaceless %}
		{% endblock repeated_row %}





		{% block form_row %}
		{% spaceless %}

			{% include 'DLAdminBundle::Form/form.row.snippet.twig' %}

		{% endspaceless %}
		{% endblock form_row %}






		{% block hidden_row %}
			{{ form_widget(form) }}
		{% endblock hidden_row %}




	{# -----[ Micellaneous ]----- #}


		{% block form_enctype %}
		{% spaceless %}
			{% if multipart %}enctype="multipart/form-data"{% endif %}
		{% endspaceless %}
		{% endblock form_enctype %}

		{% block form_errors %}
		{% spaceless %}
			{% if errors|length > 0 %}
			<ul class="pointer danger">
				{% for error in errors %}
					<li>{{
						error.messagePluralization is null
							? error.messageTemplate|trans(error.messageParameters, 'validators')
							: error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
					}}</li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endspaceless %}
		{% endblock form_errors %}

		{% block form_rest %}
		{% spaceless %}
			{% for child in form %}
				{% if not child.rendered %}
					{{ form_row(child) }}
				{% endif %}
			{% endfor %}
		{% endspaceless %}
		{% endblock form_rest %}




	{# Support #}

	{% block form_rows %}
	{% spaceless %}
		{% for child in form %}
			{{ form_row(child) }}
		{% endfor %}
	{% endspaceless %}
	{% endblock form_rows %}

	{% block widget_attributes %}
	{% spaceless %}
		id="{{ id }}" name="{{ full_name }}"
		{% if read_only %}
		readonly="readonly"
		{% endif %}
		{% if disabled %}
		disabled="disabled"
		{% endif %}
		{% if required %}
		required="required"
		{% endif %}
		{% if max_length %}
		maxlength="{{ max_length }}"
		{% endif %}
		{% if pattern %}
		pattern="{{ pattern }}"
		{% endif %}
		{% for attrname, attrvalue in attr %}
			{% if attrname in ['placeholder', 'title'] %}
			{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
			{% else %}
			{% if attrname != 'paragraph' %}
			{{ attrname }}="{{ attrvalue }}"
			{% endif %}
			{% endif %}
		{% endfor %}
	{% endspaceless %}
	{% endblock widget_attributes %}

	{% block widget_container_attributes %}
	{% spaceless %}
		{% if id is not empty %}id="{{ id }}" {% endif %}
		{% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
	{% endspaceless %}
	{% endblock widget_container_attributes %}

	{# Deprecated in Symfony 2.1, to be removed in 2.3 #}

	{% block generic_label %}{{ block('form_label') }}{% endblock %}
	{% block widget_choice_options %}{{ block('choice_widget_options') }}{% endblock %}
	{% block field_widget %}{{ block('form_widget_simple') }}{% endblock %}
	{% block field_label %}{{ block('form_label') }}{% endblock %}
	{% block field_row %}{{ block('form_row') }}{% endblock %}
	{% block field_enctype %}{{ block('form_enctype') }}{% endblock %}
	{% block field_errors %}{{ block('form_errors') }}{% endblock %}
	{% block field_rest %}{{ block('form_rest') }}{% endblock %}
	{% block field_rows %}{{ block('form_rows') }}{% endblock %}
