    /**
{% block phpdoc_method_header %}
     * Creates a new {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}_create")
     * @Method("POST")
     * @Template("{{ bundle }}:{{ entity }}Admin:new.html.twig")
     * @Secure(roles="{{ permission }}")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function createAction(Request $request)
{% endblock method_definition %}
    {
{% block method_body %}
        $entity = new {{ entity_class }}();
        $form = $this->createCreateForm($entity);
        $form->handleRequest($request);

        if ($form->isValid()) {
            $em = $this->getDoctrine()->getManager();
            $em->persist($entity);
            
            $em->flush();
            
        } else {
            $errors = $this->getErrorMessages($form);
            return new JsonResponse(array('status'=>'ERROR', 'message'=>'Please check all fields are completed', 'errors'=>$errors ));
        }
{% endblock method_body %}

{% block method_return %}
        return new JsonResponse(
                array(
                'status' => 'OK',
                'message'=> sprintf("The {{ entity }} %s has been created", $entity->getName())
            )
        );
{% endblock method_return %}
    }

{% block form %}
    /**
    * Creates a form to create a {{ entity }} entity.
    *
    * @param {{ entity_class }} $entity The entity
    *
    * @return \Symfony\Component\Form\Form The form
    */
    private function createCreateForm({{ entity_class }} $entity)
    {
        $form = $this->createForm(new {{ entity_class }}Type(), $entity, array(
            'action' => $this->generateUrl('{{ route_name_prefix }}_create'),
            'method' => 'POST',
        ));

        return $form;
    }
{% endblock form %}

        