    /**
{% block phpdoc_method_header %}
     * Deletes a {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_delete")
     * @Method("DELETE")
     * @Secure(roles="{{ permission }}")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function deleteAction(Request $request, {{ entity }} $entity)
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();
        $em->remove($entity);
        $em->flush();

        // log it
        $this->container->get('dl.admin.logger')->log('{{ entity }}', sprintf('%s {{ entity | lower }} deleted', $entity->getName()));

{% endblock method_body %}
{% block method_return %}
        return new JsonResponse(array('status'=> 'OK'));
{% endblock method_return %}
    }
    