
    /**
{% block phpdoc_method_header %}
     * Lists all {{ entity }} entities.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
     * @Route("/", name="{{ route_name_prefix }}")
     * @Method("GET")
     * @Template("{{ bundle }}:{{ entity }}Admin:index.html.twig")
     * @Secure(roles="{{permission}}")
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function indexAction()
{% endblock method_definition %}
    {
{% block method_body %}
{% endblock method_body %}

{% block method_return %}
        return array(
            'area' => '{{ entity }}',
        );
{% endblock method_return %}
    }
