
    /**
{% block phpdoc_method_header %}
     * Lists all {{ entity }} entities.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
     * @Route("/list", name="{{ route_name_prefix }}_list")
     * @Method("GET")
     * @Template()
     * @Secure(roles="{{permission}}")
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function listAction()
{% endblock method_definition %}
    {
{% block method_body %}
        
        // set the max per page
        $maxPerPage = 15;
        
        $em = $this->getDoctrine()->getManager();
        
        // create the query
        $query = $em->createQuery('SELECT a FROM {{ bundle }}:{{ entity }} a');
        
        // get the paginator from the container
        $paginator = $this->get('knp_paginator');

        // get the paingation based on the query and inputs
        $pagination = $paginator->paginate(
            $query,
            $this->get('request')->query->get('page', 1),
            $maxPerPage
        );

        // set the route (required as we render in a subrequest)
        $pagination->setUsedRoute('{{ route_name_prefix }}_list');
        
{% endblock method_body %}

{% block method_return %}
        // return the pagination for rendering
        return array(
            'pagination' => $pagination,
        );
{% endblock method_return %}
    }
