
    /**
{% block phpdoc_method_header %}
     * Toggles the enabled flag true or false
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
     * @Route("/{id}/toggle_enabled", name="{{ route_name_prefix }}_toggle_enabled")
     * @Secure(roles="{{ permission }}")
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function toggleEnabledAction(Request $request, {{ entity }} $entity)
{% endblock method_definition %}
    {
{% block method_body %}
        $newState = $entity->getEnabled() == true ? false : true;
        $entity->setEnabled($newState);

        $em = $this->getDoctrine()->getManager();
        $em->flush();

        // log it
        $this->container->get('dl.admin.logger')->log('{{ entity }}', sprintf('%s {{ entity  | lower }} %s', $entity->getEnabledString(), $entity->getName()));

{% endblock method_body %}
{% block method_return %}
        return new JsonResponse(array('status'=>'OK'));
{% endblock method_return %}
    }

