    
    /**
{% block phpdoc_method_header %}
     * Edits an existing {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
     * @Route("/{id}", name="{{ route_name_prefix }}_update")
     * @Method("PUT")
     * @Template("{{ bundle }}:{{ entity }}Admin:edit.html.twig")
     * @Secure(roles="{{ permission }}")
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function updateAction(Request $request, {{ entity }} $entity)
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();

        $entity = $em->getRepository('{{ bundle }}:{{ entity }}')->find($entity->getId());

        if (!$entity) {
            throw $this->createNotFoundException('Unable to find {{ entity }} entity.');
        }

        $form = $this->createEditForm($entity);
        $form->handleRequest($request);

        if ($form->isValid()) {
            $em->flush();

            {% block method_return %}
return new JsonResponse(
                array(
                    'status' => 'OK',
                    'message'=> sprintf("The expression %s has been updated", $entity->getName())
                )
            );
            {% endblock method_return %}
} else {
            $errors = $form->getErrorsAsString();
            $this->container->get('logger')->error($errors);

            return new JsonResponse(array('status'=>'ERROR', 'message'=>'Please check all fields are completed', 'errors'=>$errors ));
        }
    {% endblock method_body %}
    }
