<form data-entity-id="{{"{{ entity.id }}"}}" id="edit{{ entity }}Form{{"{{ entity.id}}"}}" class="{{ entity | lower }}Form" action="{{"{{ path('" ~ route_name_prefix ~ "_update', { 'id': entity.id }) }}"}}" method="post" {{"{{ form_enctype(form) }}"}}>
    {{"{% form_theme form 'DLAdminBundle:Form:form_div_layout.html.twig' %}"}}

    <fieldset>
            
		<div class="formRow">
			<div class="formQuestion"></div>
			<div class="formAnswer"><h4>Update {{ entity }} <small>Edit and update the {{ entity | lower }}</small></h4></div>
		</div>
            
{% for entityName in metadata.getFieldNames %}
{% if entityName != 'id' and entityName != 'createdAt' and entityName != 'updatedAt' and entityName != "enabled" %}
{{"{{ form_row(form." ~ entityName ~ ") }}"}}
{% endif %}
{% endfor %}
            
        <div class="formRow margin top bottom">
			<div class="formQuestion">{{"{{ form_label(form.enabled) }}"}}</div>
			<div class="formAnswer">
				{{"{{ form_widget(form.enabled) }}"}}
				<br><small class="text">If this is not set, the {{ entity | lower }} will not be visible to your viewers</small>
			</div>
		</div>

    </fieldset>
    {{"{% endspaceless %}"}}

    <div class="formRow buttonRow">
        <div class="formQuestion"></div>
        <div class="formAnswer">
            <button type="submit" class="new btn green">
                <span>Submit</span>
                <img alt="edit" class="icon" src="{{"{{ asset('bundles/dladmin/img/vendor/fugue/icons/disk-black.png') }}"}}">
            </button>
        </div>
    </div>

    <input type="hidden" name="_method" value="PUT" />
    {{"{{ form_rest(form) }}"}}
</form>

