{{"{% extends 'DLAdminBundle::layout.html.twig' %}"}}

{{"{% set heading='" ~ entity ~ "' %}"}}
{{"{% set subheading='Manage the " ~ entity ~ "' %}"}}

{{"{% block body -%}"}}
<script>

function load{{ entity }}Page(url)
{
    $('#{{ entity | lower }}-list').load(url);
}

function load{{ entity }}s() {
    $('#{{ entity | lower }}-list').load("{{"{{ path('" ~ route_name_prefix ~ "_list') }}"}}");
}

$(document).ready(function() {

    /** 
     * User filtering
     */
    $(document).on('click', '#{{ entity | lower }}-category-filter a', function(e) {
        e.preventDefault();

        // grab the url
        var $this = $(this);
        var url = $this.attr('href');

        $('#{{ entity | lower }}-list').load(url);
    }); 

    /**
     * {{ entity }} Entity Editing
     */
    $(document).on('click', '#{{ entity | lower }}-list a.edit', function(e) {
        $(this).dlMultiEditEntity(e, '{{ entity | lower }}s', '{{ entity | lower }}s', 'pencil');
    });

    /**
     * {{ entity }} Entity Deletion
     */
    $(document).on('click', '#{{ entity | lower }}-list a.delete', function(e) {
        $(this).dlDeleteEntity(e, {
            confirmDialog: $('#dialog-delete-{{ entity | lower }}')
        });
    });

    /**
     * {{ entity }} Entity enabling or disabling
     */
    $(document).on('click', '#{{ entity | lower }}-list a.state', function(e) {
		var message = "The {{ entity | lower }} item <strong>"+ $(this).closest('tr').find('td:first-child').text()+"</strong> has been set to __STATE__";
        $(this).dlToggleEntityState( e , message );
    });

    /**
     * {{ entity }} Form submission
     */
    $(document).on('click', 'form.{{ entity | lower }}Form button[type=submit]', function(e) {
        e.preventDefault();
        var formId = '#' + $(this).closest('form').attr('id');
        validateAndSubmit{{ entity }}(formId);
    });

    /**
     *
     */
    $(document).on('click', 'div.pagination a', function(e) {
        e.preventDefault();
        var $this = $(this);
        var url = $this.attr('href');
        load{{ entity }}Page(url);
    });
});

/**
 *
 */
function validateAndSubmit{{ entity }}(formId) {

    var entityId = $(formId).data('entityId');

    // update each editor 
    for (var i in CKEDITOR.instances) {
        CKEDITOR.instances[i].updateElement();    
    }

    // set rules dynamically to include entity id
    var rules = new Object();
    rules["{{ form_type_name }}_" + entityId +"[title]"] = { required: true };

    // setup the form validation
    var validator = $(formId).validate({
        rules: rules
    });

    // check is the form valid
    if ($(formId).valid()) {

        // form data
        var formData = new FormData($(formId)[0]);
        
        // action url for submission
        var url = $(formId).attr('action');

        //
        var jqxhr = $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data, status, xhr) {

                //
                if (data.status == 'OK') {
                    growl(data.message, {style:'success'});
                    load{{ entity }}s();

                    // click the listing tab
                    $('ul.{{ entity | lower }}s-tabs li:first a').trigger('click');

                    // if this is an update form (known by _method existing and being PUT
                    if ($(formId).find('input[name="_method"]') && $(formId).find('input[name="_method"]').val() == 'PUT') {

                        // remove the tab
                        $('#' + $(formId).closest('div.tab-pane').data('tabId')).remove();

                        // remove the tab pane
                        $(formId).closest('div.tab-pane').remove();

                    // empty the 'new' form
                    } else {

                        $(formId)[0].reset();
                        
                        // init the form elements
                       dlInitJSFormElements();
                    }
                } else {
                    growl(data.message, {style:'error'});

                    // add ajax errors to form
                    validator.showErrors(data.errors, true);
                }
            },
            error: function(e) {
                alert('An error occured. Please try again');
            }
        });
    }
}

</script>

<ul class="nav nav-tabs {{ entity | lower }}s-tabs">
    <li id="tab-{{ entity | lower }}-list" class="active"><a href="#{{ entity | lower }}-list" data-toggle="tab"><i class="icn i-ui-menu-blue"></i> {{ entity }} List</a></li>
    <li id="tab-{{ entity | lower }}-new"><a href="#{{ entity | lower }}-new" data-toggle="tab"><i class="icn i-pencil"></i> New {{ entity }}</span></a></li>
</ul>

<div class="tab-content {{ entity | lower }}s-tabs-content">
    <div class="tab-pane active" id="{{ entity | lower }}-list">
        {{"{{ render(controller('" ~ bundle ~ ":" ~ entity ~ "Admin:list')) }}"}}
    </div>

    <div class="tab-pane" id="{{ entity | lower }}-new">
        {{"{{ render(controller('" ~ bundle ~ ":" ~ entity ~ "Admin:new')) }}"}}
    </div>

</div>

<div id="dialog-delete-{{ entity | lower }}" style="display:none;">
    Really delete this {{ entity | lower }}?<br>
    <span class="red text">This action cannot be undone.</span>
</div>

{{"{% endblock %}"}}
