{{"{% set thead %}"}}
{{"{% endset %}"}}



{{"{% for entity in pagination %}"}}

	{{"{% if loop.index == 1 %}"}}


	<table id="{{ entity | lower }}s-table" class="table table-hover table-striped">
        <thead>
            <tr>
{% for entityName in metadata.getFieldNames %}
    {% if entityName != "enabled" and entityName != 'createdAt' %}
            <th scope="col">{{ entityName }}</th>
    {% endif %}
{% endfor %}
                <th scope="col" colspan="3"></th>
            </tr>
        </thead>
		<tbody>

	{{"{% endif %}"}}

        <tr class="{{"{{ entity.getEnabledString() }}"}}">
        {% spaceless %}            
            {% for entityName in metadata.getFieldNames %}
                {% if loop.index0 == 0 %}
                <td><a href="{{"{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}"}}" class="edit tooltip" data-entity-name="{{"{{ entity }}"}}" data-entity-id="{{"{{ entity.id }}"}}" title="edit this {{ entity | lower }}">{{"{{ entity." ~ entityName ~ " }}"}}</a></td>
                {% else %}
                    {% if entityName == "updatedAt" %}
                    <td>{{"{{ entity.updatedAt | date('y-m-d h:i') }}"}}</a></td>
                    {% endif %}

                    {% if entityName != "enabled" and entityName != "createdAt" and entityName != 'updatedAt' %}
                    <td>{{"{{ entity." ~ entityName ~ " }}"}}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endspaceless %}
			<td class="icon">
                <a href="{{"{{ path('" ~ route_name_prefix ~ "_toggle_enabled', {'id': entity.id}) }}"}}" data-entity-id="{{"{{ entity.id }}"}}" class="state {{"{{ entity.getEnabledString() }}"}} tooltip" title="toggle this {{ entity | lower }} as active/inactive">
					Toggle Active/Inactive
				</a>
			</td>
			<td class="icon">
				<a href="{{"{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}"}}" data-entity-id="{{"{{ entity.id }}"}}" class="edit tooltip" data-entity-name="{{"{{ entity }}"}}" data-entity-id="{{"{{ entity.id }}"}}" title="edit this {{ entity | lower }}">
					<i class="icn i-pencil">Edit</i>
				</a>
			</td>
			<td class="icon">
				<a href="{{"{{ path('" ~ route_name_prefix ~ "_delete', { 'id': entity.id }) }}"}}" class="delete tooltip" title="delete this {{ entity | lower }}" data-entity-id="{{"{{ entity.id }}"}}">
					<i class="icn i-cross">Delete</i>
				</a>
			</td>
		</tr>

	{{"{% if loop.last %}"}}

		</tbody>
	</table>

	{{"{% endif %}"}}

{{"{% endfor %}"}}




{{"{% if pagination|length == 0 %}"}}

	<table id="{{ entity | lower }}s-table" class="table table-hover table-striped">

		{{"{{ thead }}"}}

		<tbody>
			<tr>
				<td><p><i class="icn i-folder-smiley-sad"></i> Awww, there's no {{ entity | lower }} yet! Why don't you add some?</p></td>
				<td>&mdash;</td>
				<td colspan="3"></td>
			</tr>
		</tbody>
	</table>

{{"{% endif %}"}}

{{"{{ knp_pagination_render(pagination) }}"}}
