<form data-entity-id="" id="new{{ entity }}Form" class="{{ entity | lower }}Form" action="{{"{{ path('" ~ route_name_prefix ~ "_create') }}"}}" method="post" {{"{{ form_enctype(form) }}"}} novalidate>
    {{"{% form_theme form 'DLAdminBundle:Form:form_div_layout.html.twig' %}"}}

	<fieldset>

            <div class="formRow">
                    <div class="formQuestion"></div>
                    <div class="formAnswer"><h4>New {{ entity }} <small>Create a new {{ entity | lower }} item</small></h4></div>
            </div>
        
{% for entityName in metadata.getFieldNames %}
{% if entityName != 'id' and entityName != 'createdAt' and entityName != 'updatedAt' and entityName != "enabled" %}
{{"{{ form_row(form." ~ entityName ~ ") }}"}}
{% endif %}
{% endfor %}

            <div class="formRow margin top bottom">
                <div class="formQuestion">{{"{{ form_label(form.enabled) }}"}}</div>
                <div class="formAnswer">
                        {{"{{ form_widget(form.enabled) }}"}}
                        <br><small class="text">If this is not set, the {{ entity | lower }} will not be visible to your viewers</small>
                </div>
            </div>

	</fieldset>


    <div class="formRow buttonRow">
        <div class="formQuestion"></div>
        <div class="formAnswer">
            <button type="submit" class="new btn green">
                <i class="icn i-disk-black"></i>
				<span>Submit</span>
			</button>
        </div>
    </div>

    {{"{{ form_rest(form) }}"}}
</form>
